Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

Bump version to 0.7.22
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix GitLab CI: use Debian images for native dependencies
  .gitlab-ci.yml
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.23
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Use QEMU emulation for multi-arch Docker builds
  .gitlab-ci.yml
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.24
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add platform-specific README generation
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  README.template.md
  scripts/generate-readme.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.25
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add multi-platform support to install.sh
  install.sh
  tests/install/unit/install-script.test.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test

Fix GitLab CI buildx TLS issue
  .gitlab-ci.yml
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.26
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix GitLab CI buildx TLS - use non-TLS Docker port
  .gitlab-ci.yml
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.27
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Update repository references to new accounts
  .github/workflows/create-release.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  README.md
  components/AISettings.tsx
  components/Layout.tsx
  docker-compose.ghcr.yml
  docs/BEACON_GITHUB_SETUP.md
  install.sh
  sanctuary/README.md
  sanctuary/docker-compose.yml
  sanctuary/umbrel-app.yml
  scripts/generate-readme.sh
  server/package.json
  server/src/api/admin.ts
  server/tests/unit/api/admin.test.ts
  tests/install/unit/install-script.test.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Remove GitLab CI configuration
  .gitlab-ci.yml
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, build-dev-frontend, build-dev-backend

Bump version to 0.7.28
  gateway/package.json
  package.json
  sanctuary/umbrel-app.yml
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Remove empty beacon directory after extraction to separate repo
  sanctuary/umbrel-app.yml
Due: none

Restore version to 0.7.28
  gateway/package.json
  package.json
  sanctuary/umbrel-app.yml
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add monitoring admin page for easy access to observability tools
  App.tsx
  components/Layout.tsx
  components/Monitoring.tsx
  server/src/api/admin.ts
  server/src/config/index.ts
  server/src/config/types.ts
  server/src/repositories/systemSettingRepository.ts
  src/api/admin.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix CI workflow for Vitest migration
  .github/workflows/test.yml
Due: none

Fix dark mode background in monitoring credentials section
  components/Monitoring.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Add full password display with copy button for Grafana
  components/Monitoring.tsx
  server/src/api/admin.ts
  src/api/admin.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix Grafana infrastructure dashboard metric names
  docker/monitoring/grafana/dashboards/sanctuary-infrastructure.json
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Add cleanup effect for copy timeout in Monitoring
  components/Monitoring.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Update BTC on-chain donation address
  README.md
  README.template.md
  components/Layout.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Default consolidation notifications to enabled for new wallets
  server/src/api/wallets.ts
Due: backend-tests, build-dev-backend

Add dedicated background worker for real-time notifications
  docker-compose.yml
  server/src/config/index.ts
  server/src/config/schema.ts
  server/src/config/types.ts
  server/src/infrastructure/redis.ts
  server/src/worker.ts
  server/src/worker/electrumManager.ts
  server/src/worker/healthServer.ts
  server/src/worker/index.ts
  server/src/worker/jobs/index.ts
  server/src/worker/jobs/notificationJobs.ts
  server/src/worker/jobs/syncJobs.ts
  server/src/worker/jobs/types.ts
  server/src/worker/workerJobQueue.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Address worker architecture recommendations
  server/src/worker.ts
  server/src/worker/electrumManager.ts
  server/src/worker/jobs/syncJobs.ts
Due: backend-tests, build-dev-backend

Add pagination to reconcileSubscriptions for large deployments
  server/src/worker/electrumManager.ts
Due: backend-tests, build-dev-backend

Remove navigation-triggered syncs, add block height tracking
  components/Dashboard.tsx
  components/WalletDetail.tsx
  server/prisma/schema.prisma
  server/src/worker/jobs/syncJobs.ts
  server/tests/unit/worker/electrumManager.test.ts
  server/tests/unit/worker/jobs/syncJobs.test.ts
  server/tests/unit/worker/workerJobQueue.test.ts
  types.ts
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Update README with architecture diagram and worker documentation
  README.md
  assets/architecture.drawio
  assets/architecture.png
Due: none

Bump version to 0.8.0
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add migration for lastSyncedBlockHeight column
  server/prisma/migrations/20260110000000_add_last_synced_block_height/migration.sql
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

Bump version to 0.8.1
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add state machine diagrams for application flow verification
  assets/state-diagram-Authentication.png
  assets/state-diagram-Notification-Flow.png
  assets/state-diagram-Ownership-Transfer.png
  assets/state-diagram-Transaction-Draft.png
  assets/state-diagram-Wallet-Sync.png
  assets/state-diagram-WebSocket-Events.png
  assets/state-diagram.drawio
  docs/STATE-MACHINES.md
Due: none

Add test infrastructure, backend tests, and CI/CD integration
  .github/workflows/test.yml
  e2e/auth.spec.ts
  e2e/wallet.spec.ts
  gateway/package.json
  gateway/tests/mocks/logger.ts
  gateway/tests/setup.ts
  gateway/tests/unit/middleware/auth.test.ts
  gateway/tests/unit/middleware/rateLimit.test.ts
  gateway/tests/unit/middleware/validateRequest.test.ts
  gateway/tests/unit/routes/proxy.test.ts
  gateway/tests/unit/services/push.test.ts
  gateway/vitest.config.ts
  package.json
  playwright.config.ts
  server/package-lock.json
  server/package.json
  server/stryker.config.mjs
  server/tests/unit/middleware/apiVersion.test.ts
  server/tests/unit/middleware/gatewayAuth.test.ts
  server/tests/unit/middleware/pagination.test.ts
  server/tests/unit/services/accessControl.test.ts
  server/tests/unit/services/refreshTokenService.test.ts
  server/tests/unit/services/tokenRevocation.test.ts
  stryker.config.mjs
  vitest.config.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix gateway package-lock.json sync for CI
  gateway/package-lock.json
Due: none

Fix root package-lock.json sync for CI
  package-lock.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Lower test coverage thresholds to current levels
  gateway/vitest.config.ts
  server/vitest.config.ts
  vitest.config.ts
Due: backend-tests, frontend-tests, build-dev-backend

Add Login and CreateWallet component tests
  tests/components/CreateWallet.test.tsx
  tests/components/Login.test.tsx
Due: backend-tests, frontend-tests

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
