Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml

feat: gate AI Settings page behind aiAssistant feature flag
  components/AISettings/AISettings.tsx
  components/AISettings/hooks/useAISettings.ts
  tests/components/AISettings.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

test: add missing 403 ApiError test for AI Settings feature flag gate
  tests/components/AISettings.test.tsx
Due: backend-tests, frontend-tests

fix: resolve E2E test failures in dashboard and wallet sharing specs
  e2e/dashboard-price-blocks.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
Due: none

fix: stabilize remaining E2E test failures
  components/Dashboard/Dashboard.tsx
  e2e/dashboard-price-blocks.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
Due: backend-tests, frontend-tests, build-dev-frontend

test: add Bitcoin industry edge case tests and fix upgrade rebuild path
  install.sh
  scripts/setup.sh
  server/tests/unit/services/bitcoin/industry/broadcastSafety.test.ts
  server/tests/unit/services/bitcoin/industry/descriptorSafety.test.ts
  server/tests/unit/services/bitcoin/industry/electrumTrust.test.ts
  server/tests/unit/services/bitcoin/industry/feeSanity.test.ts
  server/tests/unit/services/bitcoin/industry/labelSafety.test.ts
  server/tests/unit/services/bitcoin/industry/psbtIndustry.test.ts
  server/tests/unit/services/bitcoin/industry/rbfCpfpEdgeCases.test.ts
  server/tests/unit/services/bitcoin/industry/transactionEdgeCases.test.ts
  server/tests/unit/services/bitcoin/industry/utxoEdgeCases.test.ts
  start.sh
  tests/install/e2e/upgrade-install.test.sh
  tests/install/unit/install-script.test.sh
  tests/shared/bitcoin.industry.test.ts
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

fix: correct tooltip percentage (floating-point) and mark wallet tab tests fixme
  e2e/dashboard-price-blocks.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
Due: none

fix: improve rate limit messages and rework login gradient animation
  ai-proxy/src/index.ts
  components/AILabelSuggestion.tsx
  components/AIQueryInput.tsx
  components/Login.tsx
  index.html
  server/src/middleware/rateLimit.ts
  server/tests/unit/middleware/rateLimit.test.ts
  tests/components/AILabelSuggestion.test.tsx
  tests/components/AIQueryInput.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

feat: elevate login page with animations, effects, and micro-interactions
  components/Login.tsx
  index.html
Due: backend-tests, frontend-tests, build-dev-frontend

chore: bump version to 0.8.17
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

feat: add vault policies & spending governance engine (Phases 1-3)
  docs/plans/vault-policies-plan.md
  server/prisma/migrations/20260317000000_add_vault_policies/migration.sql
  server/prisma/schema.prisma
  server/src/api/admin.ts
  server/src/api/admin/policies.ts
  server/src/api/approvals.ts
  server/src/api/transactions/broadcasting.ts
  server/src/api/transactions/drafting.ts
  server/src/api/wallets.ts
  server/src/api/wallets/approvals.ts
  server/src/api/wallets/policies.ts
  server/src/api/wallets/sharing.ts
  server/src/middleware/walletAccess.ts
  server/src/repositories/draftRepository.ts
  server/src/repositories/index.ts
  server/src/repositories/policyRepository.ts
  server/src/routes.ts
  server/src/services/auditService.ts
  server/src/services/draftService.ts
  server/src/services/mobilePermissions/types.ts
  server/src/services/vaultPolicy/approvalNotifications.ts
  server/src/services/vaultPolicy/approvalService.ts
  server/src/services/vaultPolicy/index.ts
  server/src/services/vaultPolicy/policyEvaluationEngine.ts
  server/src/services/vaultPolicy/types.ts
  server/src/services/vaultPolicy/vaultPolicyService.ts
  server/src/services/wallet/accessControl.ts
  server/src/services/wallet/index.ts
  server/src/services/wallet/types.ts
  server/tests/unit/api/transactions-http-routes.test.ts
  server/tests/unit/api/wallets.test.ts
  server/tests/unit/middleware/walletAccess.test.ts
  server/tests/unit/routes.test.ts
  server/tests/unit/services/approvalService.test.ts
  server/tests/unit/services/draftService.test.ts
  server/tests/unit/services/mobilePermissions/types.test.ts
  server/tests/unit/services/policyEvaluationEngine.test.ts
  server/tests/unit/services/vaultPolicyService.test.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

fix: align integration test assertions with actual API behavior
  server/tests/integration/flows/labels.integration.test.ts
  server/tests/integration/flows/security.integration.test.ts
Due: backend-tests, build-dev-backend

feat: add 10 visual polish enhancements across the frontend
  components/Dashboard/Dashboard.tsx
  components/Dashboard/PriceChart.tsx
  components/Layout/BlockHeightIndicator.tsx
  components/Layout/Layout.tsx
  components/Layout/NavItem.tsx
  components/Layout/SidebarContent.tsx
  components/Layout/SubNavItem.tsx
  components/Layout/types.ts
  components/WalletList/WalletGridView.tsx
  components/ui/EmptyState.tsx
  components/ui/Skeleton.tsx
  index.html
  tests/components/Layout.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

fix: address pre-commit hook feedback — Link, Button, Tailwind classes
  components/Dashboard/Dashboard.tsx
  components/Dashboard/PriceChart.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

fix: restore 100% frontend coverage — add missing tests for 4 components
  tests/components/Dashboard/Dashboard.render.test.tsx
  tests/components/Dashboard/PriceChart.test.tsx
  tests/components/Layout/BlockHeightIndicator.test.tsx
  tests/components/Layout/SidebarContent.branches.test.tsx
Due: backend-tests, frontend-tests

fix: address pre-commit hook feedback — regression test and comment
  src/api/auth.ts
  tests/components/AnimatedBackground.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

fix: add REDIS_PASSWORD + AI_CONFIG_SECRET to CI workflow docker compose commands
  .github/workflows/install-test.yml
  .github/workflows/release-candidate.yml
Due: none

chore: upgrade remaining Docker actions to Node.js 24 versions
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
Due: none

test: add comprehensive organization/group feature test coverage
  e2e/admin-operations.spec.ts
  server/src/services/deviceAccess.ts
  server/tests/integration/flows/admin.integration.test.ts
  server/tests/integration/flows/wallet.integration.test.ts
  server/tests/integration/repositories/deviceSharingRepository.test.ts
  server/tests/unit/api/admin-groups-routes.test.ts
  server/tests/unit/api/device-sharing-routes.test.ts
  server/tests/unit/api/wallet-sharing-routes.test.ts
  server/tests/unit/services/accessControl.test.ts
  server/tests/unit/services/deviceAccess.test.ts
Due: backend-tests, build-dev-backend

test: cover applyNoiseOpacity and sparkline data branches, fix tooltip !important overrides
  components/Dashboard/WalletSummary.tsx
  components/ui/Button.tsx
  index.html
  tests/components/WalletList/WalletGridView.test.tsx
  tests/themes/registry.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend

feat: UI polish — animated tabs, tooltip system, glow indicators, bold buttons, live fee flash, data-driven sparklines, theme noise control
  components/Dashboard/Dashboard.tsx
  components/Dashboard/WalletSummary.tsx
  components/NetworkTabs.tsx
  components/WalletList/WalletGridView.tsx
  components/WalletList/WalletList.tsx
  components/ui/Button.tsx
  hooks/queries/useWallets.ts
  index.html
  tests/components/WalletList.branches.test.tsx
  tests/components/WalletList.test.tsx
  themes/registry.ts
Due: backend-tests, frontend-tests, build-dev-frontend

test: cover useWalletSparklines hook to meet 100% coverage threshold
  tests/hooks/queries/useWallets.test.tsx
Due: backend-tests, frontend-tests

test: cover remaining branches for 100% coverage threshold
  hooks/queries/useWallets.ts
  tests/components/Dashboard/AnimatedFeeRate.test.tsx
Due: backend-tests, frontend-tests

test: cover sparkline edge cases and multisig branch for 100% coverage
  tests/components/WalletList/WalletGridView.test.tsx
Due: backend-tests, frontend-tests

fix: resolve "no receive address" for wallets with many unused change addresses
  components/Dashboard/Dashboard.tsx
  components/WalletDetail/WalletDetail.tsx
  server/src/api/transactions/addresses.ts
  server/tests/unit/api/transactions.test.ts
  src/api/transactions/types.ts
  tests/components/Dashboard/Dashboard.render.test.tsx
  tests/components/WalletDetail.wrapper.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

test: add v8 ignore for jsdom-untestable animation branches
  components/Dashboard/WalletSummary.tsx
  components/NetworkTabs.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

test: update E2E visual regression snapshots for UI modernization
  e2e/render-regression.spec.ts-snapshots/dashboard-testnet-shell-chromium-linux.png
  e2e/render-regression.spec.ts-snapshots/wallet-list-testnet-shell-chromium-linux.png
Due: none

fix: align test mocks with _count._all and blockTime field changes
  server/tests/unit/api/ai-internal.intelligence.test.ts
  server/tests/unit/repositories/intelligenceRepository.test.ts
Due: backend-tests, build-dev-backend

test: add frontend tests for Intelligence tab (116 tests)
  tests/api/intelligence.test.ts
  tests/components/Intelligence.tabs.test.tsx
  tests/components/Intelligence.test.tsx
  tests/hooks/useIntelligenceStatus.test.ts
Due: backend-tests, frontend-tests

refactor: simplify intelligence code — fix auth bug, improve reuse and efficiency
  components/Intelligence/Intelligence.tsx
  components/Intelligence/tabs/InsightCard.tsx
  components/Intelligence/tabs/InsightsTab.tsx
  components/Intelligence/tabs/SettingsTab.tsx
  server/src/api/ai-internal.ts
  server/src/api/intelligence.ts
  server/src/repositories/intelligenceRepository.ts
  server/src/services/intelligence/analysisService.ts
  server/src/services/intelligence/insightService.ts
  src/api/intelligence.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: resolve TypeScript compilation errors in intelligence routes
  server/src/api/ai-internal.ts
  server/src/api/intelligence.ts
Due: backend-tests, build-dev-backend

test: add full coverage for support package and fix intelligence TS errors
  server/tests/unit/api/admin/supportPackage.test.ts
  server/tests/unit/services/supportPackage/circuitBreakersCollector.test.ts
  server/tests/unit/services/supportPackage/databaseCollector.test.ts
  server/tests/unit/services/supportPackage/healthCollector.test.ts
  server/tests/unit/services/supportPackage/registryUnit.test.ts
  server/tests/unit/services/supportPackage/syncCollector.test.ts
  server/tests/unit/services/supportPackage/systemCollector.test.ts
  tests/components/SupportPackageCard.test.tsx
Due: backend-tests, frontend-tests, build-dev-backend

test: close remaining coverage gaps for support package
  server/tests/unit/services/supportPackage/configCollector.test.ts
  server/tests/unit/services/supportPackage/dlqCollector.test.ts
  server/tests/unit/services/supportPackage/runner.test.ts
  server/tests/unit/services/supportPackage/systemCollector.test.ts
  server/tests/unit/services/supportPackage/telegramCollector.test.ts
  server/tests/unit/services/supportPackage/walletLogsCollector.test.ts
  tests/api/admin/supportPackage.test.ts
Due: backend-tests, frontend-tests, build-dev-backend

test: close backend coverage gaps for intelligence, notifications, and middleware
  server/tests/unit/middleware/validate.test.ts
  server/tests/unit/services/intelligence/analysisService.test.ts
  server/tests/unit/services/notifications/channels/registry.test.ts
  server/vitest.config.ts
Due: backend-tests, build-dev-backend

fix: add intelligence status mock to all E2E specs
  e2e/accessibility.spec.ts
  e2e/admin-drafts-smoke.spec.ts
  e2e/admin-operations.spec.ts
  e2e/create-wallet-flow.spec.ts
  e2e/dashboard-price-blocks.spec.ts
  e2e/error-recovery.spec.ts
  e2e/import-wallet-flow.spec.ts
  e2e/render-regression.spec.ts
  e2e/send-transaction-flow.spec.ts
  e2e/settings-persistence.spec.ts
  e2e/user-journeys.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
Due: none

refactor: consolidate duplicates, split types, extract shared patterns
  components/DeviceDetail/accounts/urHelpers.ts
  components/Monitoring/EditUrlModal.tsx
  components/UsersGroups/CreateUserModal.tsx
  components/ui/ModalWrapper.tsx
  server/src/constants.ts
  server/src/middleware/deviceAccess.ts
  server/src/middleware/resourceAccess.ts
  server/src/middleware/walletAccess.ts
  server/src/services/accessControl.ts
  server/src/services/auditService.ts
  server/src/services/featureFlagService.ts
  server/src/services/wallet/accessControl.ts
  server/src/services/wallet/index.ts
  server/tests/unit/api/admin.test.ts
  server/tests/unit/middleware/resourceAccess.test.ts
  server/tests/unit/services/accessControl.test.ts
  server/tests/unit/services/wallet.test.ts
  tests/components/DeviceDetail/accounts/urHelpers.test.ts
  tests/components/ui/ModalWrapper.test.tsx
  tests/mocks/aiApi.ts
  types.ts
  types/hardware.ts
  types/index.ts
  types/ui.ts
  types/user.ts
  utils/urPsbt.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore: bump version to 0.8.23
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix(ci): add DATABASE_URL to integration test steps
  .github/workflows/test.yml
Due: none

fix(ci): run integration tests directly against service container DB
  .github/workflows/test.yml
Due: none
