Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

Add comprehensive test coverage for components and utilities
  server/tests/unit/repositories/addressRepository.test.ts
  server/tests/unit/repositories/deviceRepository.test.ts
  server/tests/unit/repositories/sessionRepository.test.ts
  server/tests/unit/repositories/transactionRepository.test.ts
  server/tests/unit/repositories/userRepository.test.ts
  server/tests/unit/repositories/walletRepository.test.ts
  tests/components/Account.test.tsx
  tests/components/BackupRestore.test.tsx
  tests/components/BatchSend.test.tsx
  tests/components/ConnectDevice.test.tsx
  tests/components/DeviceList.test.tsx
  tests/components/Settings.test.tsx
  tests/components/TransactionList.test.tsx
  tests/utils/bip21Parser.test.ts
  tests/utils/feeCalculation.test.ts
  tests/utils/formatters.test.ts
  vitest.config.ts
Due: backend-tests, frontend-tests, build-dev-backend

Fix E2E tests by starting backend server in CI
  .github/workflows/test.yml
Due: none

Fix server start script path to match TypeScript build output
  server/package.json
Due: backend-tests, build-dev-backend

Fix E2E tests: build frontend and use preview mode in CI
  .github/workflows/test.yml
  playwright.config.ts
Due: none

Skip auth-dependent E2E tests in CI
  .github/workflows/test.yml
Due: none

Fix E2E tests to match actual UI elements
  e2e/auth.spec.ts
  e2e/wallet.spec.ts
Due: none

Add Tier 2 & 3 test coverage for notifications, stats, and labels
  docs/TEST_COVERAGE_PLAN.md
  tests/components/LabelManager.test.tsx
  tests/components/NotificationPanel.test.tsx
  tests/components/WalletStats.test.tsx
  tests/contexts/AppNotificationContext.test.tsx
  tests/hooks/useNotificationSound.test.ts
  vitest.config.ts
Due: backend-tests, frontend-tests

Add Phase 1 & 2 test coverage and update thresholds
  docs/TEST_COVERAGE_PLAN.md
  gateway/tests/unit/middleware/requestLogger.test.ts
  gateway/tests/unit/services/backendEvents.test.ts
  gateway/tests/unit/services/push/apns.test.ts
  gateway/tests/unit/services/push/fcm.test.ts
  gateway/vitest.config.ts
  server/tests/unit/middleware/i18n.test.ts
  server/tests/unit/middleware/metrics.test.ts
  server/tests/unit/middleware/requestLogger.test.ts
  server/tests/unit/middleware/requestTimeout.test.ts
  server/tests/unit/services/featureFlagService.test.ts
  server/tests/unit/services/i18nService.test.ts
  server/tests/unit/utils/apiResponse.test.ts
  server/tests/unit/utils/errors.test.ts
  server/vitest.config.ts
  tests/components/DeviceSharing.test.tsx
  tests/components/ElectrumServerSettings.test.tsx
  tests/components/HardwareWalletConnect.test.tsx
  tests/components/LabelSelector.test.tsx
  tests/components/NodeConfig.test.tsx
  tests/components/PayjoinSection.test.tsx
  tests/components/PendingTransfersPanel.test.tsx
  tests/components/PrivacyDetailPanel.test.tsx
  tests/components/PrivacyWarnings.test.tsx
  tests/components/Variables.test.tsx
  tests/components/qr/AnimatedQRCode.test.tsx
  tests/contexts/sendTypes.test.ts
  tests/contexts/stepValidation.test.ts
  tests/hooks/queries/useBitcoin.test.ts
  tests/utils/urPsbt.test.ts
  vitest.config.ts
Due: backend-tests, frontend-tests, build-dev-backend

Add Phase 3 server test coverage and raise thresholds
  server/tests/unit/services/push/providers/apns.test.ts
  server/tests/unit/services/push/providers/base.test.ts
  server/tests/unit/services/push/providers/fcm.test.ts
  server/tests/unit/services/rateLimiting/memoryRateLimiter.test.ts
  server/tests/unit/services/rateLimiting/policies.test.ts
  server/tests/unit/utils/docker.test.ts
  server/tests/unit/utils/jwt.test.ts
  server/tests/unit/utils/safeJson.test.ts
  server/tests/unit/utils/serialization.test.ts
  server/tests/unit/worker/healthServer.test.ts
  server/tests/unit/worker/jobs/notificationJobs.test.ts
  server/vitest.config.ts
Due: backend-tests, build-dev-backend

Fix flaky theme application test in UserContext
  tests/contexts/UserContext.test.tsx
Due: backend-tests, frontend-tests

Add iOS backend enhancements: mobile permissions and push notifications
  docs/plans/ios-backend-enhancements.md
  gateway/src/middleware/mobilePermission.ts
  gateway/src/middleware/rateLimit.ts
  gateway/src/routes/proxy.ts
  gateway/src/services/backendEvents.ts
  gateway/src/services/push/index.ts
  server/prisma/migrations/20260111000000_add_mobile_permissions/migration.sql
  server/prisma/schema.prisma
  server/src/api/mobilePermissions.ts
  server/src/index.ts
  server/src/repositories/index.ts
  server/src/repositories/mobilePermissionRepository.ts
  server/src/services/mobilePermissions/index.ts
  server/src/services/mobilePermissions/mobilePermissionService.ts
  server/src/services/mobilePermissions/types.ts
  server/tests/unit/services/mobilePermissions/permissionResolution.test.ts
  server/tests/unit/services/mobilePermissions/types.test.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

Add test coverage for mobile permissions and fix N+1 queries
  gateway/tests/unit/services/backendEvents.test.ts
  gateway/tests/unit/services/push.test.ts
  server/src/repositories/mobilePermissionRepository.ts
  server/src/services/mobilePermissions/mobilePermissionService.ts
  server/tests/mocks/prisma.ts
  server/tests/unit/api/mobilePermissions.test.ts
  server/tests/unit/services/mobilePermissions/mobilePermissionService.test.ts
Due: backend-tests, build-dev-backend

Fix Prisma relation field name in mobile permissions
  server/src/repositories/mobilePermissionRepository.ts
  server/src/services/mobilePermissions/mobilePermissionService.ts
  server/tests/unit/services/mobilePermissions/mobilePermissionService.test.ts
Due: backend-tests, build-dev-backend

Add native TLS/HTTPS support to gateway
  docker-compose.yml
  gateway/README.md
  gateway/src/config.ts
  gateway/src/index.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Enable gateway TLS by default in install/setup scripts
  install.sh
  scripts/setup.sh
Due: install-unit-tests, fresh-install-test, install-script-test

Respect existing GATEWAY_TLS_ENABLED setting during upgrades
  install.sh
Due: install-unit-tests, fresh-install-test, install-script-test

Fix SSL certificate permissions for gateway TLS
  docker/nginx/ssl/generate-certs.sh
  install.sh
  scripts/setup.sh
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Update README.md to document gateway HTTPS/TLS
  README.md
Due: none

Address security review recommendations for gateway TLS
  docker/nginx/ssl/generate-certs.sh
  gateway/src/index.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Improve TLS security: 4096-bit RSA keys and CA cert support
  docker/nginx/ssl/generate-certs.sh
  gateway/src/config.ts
  gateway/src/index.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Add comprehensive gateway test coverage and raise thresholds
  gateway/src/routes/proxy.ts
  gateway/tests/unit/config.test.ts
  gateway/tests/unit/middleware/mobilePermission.test.ts
  gateway/tests/unit/routes/proxy.test.ts
  gateway/tests/unit/utils/logger.test.ts
  gateway/vitest.config.ts
Due: backend-tests

Fix gateway proxy hanging on POST requests
  gateway/src/routes/proxy.ts
Due: backend-tests

Add test coverage for API routes and fix payjoin route ordering
  server/src/api/payjoin.ts
  server/tests/unit/api/ai-internal.test.ts
  server/tests/unit/api/ai.test.ts
  server/tests/unit/api/labels.test.ts
  server/tests/unit/api/node.test.ts
  server/tests/unit/api/payjoin.test.ts
  server/tests/unit/api/price.test.ts
  server/tests/unit/api/push.test.ts
  server/tests/unit/api/transfers.test.ts
  server/vitest.config.ts
Due: backend-tests, build-dev-backend

Refactor WebSocket server into focused modules
  server/src/websocket/clientServer.ts
  server/src/websocket/gatewayServer.ts
  server/src/websocket/server.ts
  server/src/websocket/types.ts
Due: backend-tests, build-dev-backend

Refactor admin.ts into focused domain modules
  server/src/api/admin.ts
  server/src/api/admin/auditLogs.ts
  server/src/api/admin/backup.ts
  server/src/api/admin/electrumServers.ts
  server/src/api/admin/index.ts
  server/src/api/admin/infrastructure.ts
  server/src/api/admin/monitoring.ts
  server/src/api/admin/nodeConfig.ts
  server/src/api/admin/settings.ts
  server/src/api/admin/version.ts
Due: backend-tests, build-dev-backend

Refactor API routes into focused domain modules
  server/src/api/auth.ts
  server/src/api/auth/login.ts
  server/src/api/auth/password.ts
  server/src/api/auth/profile.ts
  server/src/api/auth/sessions.ts
  server/src/api/auth/telegram.ts
  server/src/api/auth/tokens.ts
  server/src/api/auth/twoFactor.ts
  server/src/api/bitcoin.ts
  server/src/api/bitcoin/address.ts
  server/src/api/bitcoin/fees.ts
  server/src/api/bitcoin/network.ts
  server/src/api/bitcoin/sync.ts
  server/src/api/bitcoin/transactions.ts
  server/src/api/devices.ts
  server/src/api/devices/accounts.ts
  server/src/api/devices/crud.ts
  server/src/api/devices/models.ts
  server/src/api/devices/sharing.ts
  server/src/api/transactions.ts
  server/src/api/transactions/addresses.ts
  server/src/api/transactions/coinSelection.ts
  server/src/api/transactions/creation.ts
  server/src/api/transactions/crossWallet.ts
  server/src/api/transactions/privacy.ts
  server/src/api/transactions/transactionDetail.ts
  server/src/api/transactions/utxos.ts
  server/src/api/transactions/walletTransactions.ts
  server/src/api/wallets.ts
  server/src/api/wallets/analytics.ts
  server/src/api/wallets/crud.ts
  server/src/api/wallets/devices.ts
  server/src/api/wallets/export.ts
  server/src/api/wallets/import.ts
  server/src/api/wallets/sharing.ts
  server/src/api/wallets/telegram.ts
  server/src/api/wallets/xpubValidation.ts
Due: backend-tests, build-dev-backend

Add test coverage for auth, bitcoin, and devices APIs
  CLAUDE.md
  server/tests/mocks/electrum.ts
  server/tests/unit/api/auth.test.ts
  server/tests/unit/api/bitcoin.test.ts
  server/tests/unit/api/devices.test.ts
Due: backend-tests, build-dev-backend

Add exponential backoff to gateway rate limiting and improve test coverage
  gateway/src/config.ts
  gateway/src/index.ts
  gateway/src/middleware/rateLimit.ts
  gateway/tests/unit/config.test.ts
  gateway/tests/unit/middleware/rateLimit.test.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/wallets.test.ts
  server/tests/unit/infrastructure/memoryMonitor.test.ts
  server/tests/unit/repositories/auditLogRepository.test.ts
  server/tests/unit/repositories/labelRepository.test.ts
  server/tests/unit/repositories/mobilePermissionRepository.test.ts
  server/tests/unit/repositories/utxoRepository.test.ts
  server/tests/unit/services/accessControl.test.ts
  server/tests/unit/services/cache/cacheService.test.ts
  server/tests/unit/utils/logger.test.ts
  server/tests/unit/websocket/events.test.ts
  server/tests/unit/websocket/notifications.test.ts
Due: backend-tests, build-dev-backend

Add comprehensive rate limit tests and fix coverage threshold
  gateway/src/middleware/rateLimit.ts
  gateway/tests/unit/middleware/rateLimit.test.ts
Due: backend-tests

Add 2FA verify endpoint to gateway whitelist
  gateway/src/routes/proxy.ts
  gateway/tests/unit/routes/proxy.test.ts
Due: backend-tests

Add trailing slash stripping middleware to gateway
  gateway/src/index.ts
Due: backend-tests

Add tests for trailing slash middleware and fix query string handling
  docs/PRD.md
  gateway/src/index.ts
  gateway/tests/unit/middleware/trailingSlash.test.ts
Due: backend-tests

Fix gateway whitelist to use full path including baseUrl
  gateway/src/routes/proxy.ts
  gateway/tests/unit/routes/proxy.test.ts
Due: backend-tests

Add test for blocked routes when mounted under /api/v1
  gateway/tests/unit/routes/proxy.test.ts
Due: none

Fix docker-compose build for fresh clone scenario
  docker-compose.yml
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Bump version to 0.8.2
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix TLS_ENABLED warning in docker-compose
  .env.example
  docker-compose.yml
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Add comprehensive next steps output to setup.sh
  scripts/setup.sh
Due: none

Wait for services before showing setup.sh completion banner
  scripts/setup.sh
Due: none

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
