Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

test(server): remove skip gates and add deterministic vector coverage
  server/tests/fixtures/bip174-test-vectors.ts
  server/tests/integration/flows/wallet.integration.test.ts
  server/tests/unit/infrastructure/jobQueue.test.ts
  server/tests/unit/infrastructure/redisCircuitBreaker.test.ts
  server/tests/unit/services/authorization.test.ts
  server/tests/unit/services/bitcoin/addressDerivation.verified.test.ts
  server/tests/unit/services/bitcoin/hardwareWalletCompatibility.test.ts
  server/tests/unit/services/bitcoin/psbt.verified.test.ts
Due: backend-tests, build-dev-backend

fix(dashboard): live-refresh recent activity and show tx lock state
  components/Dashboard/hooks/useDashboardData.ts
  components/TransactionList/TransactionRow.tsx
  hooks/queries/useWallets.ts
  server/src/api/transactions/crossWallet.ts
  server/tests/unit/api/admin.test.ts
  tests/components/Dashboard/useDashboardData.test.tsx
  tests/components/TransactionList.test.tsx
  tests/components/TransactionList/TransactionRow.branches.test.tsx
  tests/hooks/queries/useWallets.test.tsx
  types.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore(release): bump version to 0.8.9
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix(ci): use worker readiness probe in compose health checks
  docker-compose.ghcr.yml
  docker-compose.yml
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

fix(ci): use worker readiness for backend startup
  .env.example
  docker-compose.ghcr.yml
  docker-compose.yml
  server/src/config/index.ts
  server/src/config/types.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

fix(ci): align auth rate limit env vars in RC tests
  .github/workflows/release-candidate.yml
  tests/install/e2e/upgrade-install.test.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test

Force single-worker integration test execution
  server/package.json
Due: backend-tests, build-dev-backend

Set testnet network for descriptor-based wallet access tests
  server/tests/integration/flows/wallet.integration.test.ts
Due: backend-tests, build-dev-backend

ci: add PR integration smoke and tighten notification coverage
  .github/workflows/test.yml
  gateway/tests/unit/services/backendEvents.notifications.test.ts
  scripts/run-integration-tests.sh
Due: none

docs: add v0.8.10 announcement and v0.8.11 scope tracker
  docs/plans/v0.8.10-announcement.md
  docs/plans/v0.8.11-scope.md
Due: none

chore: slim CLAUDE.md and add hook to block host dev servers
  .claude/hooks/block-direct-npm.sh
  CLAUDE.md
Due: none

chore: remove CLAUDE.md from git tracking
  CLAUDE.md
Due: none

feat(autopilot): exclude frozen UTXOs and add minDustCount/maxUtxoSize settings
  server/src/api/wallets/autopilot.ts
  server/src/repositories/factory.ts
  server/src/repositories/factoryInterfaces.ts
  server/src/repositories/utxoRepository.ts
  server/src/services/autopilot/evaluator.ts
  server/src/services/autopilot/types.ts
  server/src/services/autopilot/utxoHealth.ts
  server/tests/unit/api/wallets-autopilot-routes.test.ts
  server/tests/unit/services/autopilot/evaluator.test.ts
  server/tests/unit/services/autopilot/settings.test.ts
  server/tests/unit/services/autopilot/utxoHealth.test.ts
Due: backend-tests, build-dev-backend

fix(tests): restore 100% frontend coverage, bump server thresholds to 99%
  server/tests/unit/services/deadLetterQueue.test.ts
  server/tests/unit/services/syncService.test.ts
  server/vitest.config.ts
  tests/api/coreApiModules.test.ts
  tests/components/WalletDetail/WalletAutopilotSettings.test.tsx
Due: backend-tests, frontend-tests, build-dev-backend

fix(tests): close coverage gaps in gateway and server, raise gateway thresholds
  gateway/tests/unit/config.test.ts
  gateway/tests/unit/middleware/mobilePermission.test.ts
  gateway/tests/unit/middleware/requestLogger.test.ts
  gateway/tests/unit/services/push/apns.test.ts
  gateway/vitest.config.ts
  server/src/services/bitcoin/transactions/psbtConstruction.ts
  server/src/services/draftService.ts
  server/src/utils/docker/index.ts
  server/tests/unit/api/admin-infrastructure-routes.test.ts
  server/tests/unit/api/devices.test.ts
  server/tests/unit/api/transactionsCrossWallet.test.ts
  server/tests/unit/api/wallets-autopilot-routes.test.ts
  server/tests/unit/repositories/factory.test.ts
  server/tests/unit/repositories/utxoRepository.test.ts
  server/tests/unit/services/autopilot/evaluator.test.ts
  server/tests/unit/services/autopilot/feeMonitor.test.ts
  server/tests/unit/services/autopilot/settings.test.ts
  server/tests/unit/services/autopilot/utxoHealth.test.ts
  server/tests/unit/services/bitcoin/electrum.connection.test.ts
  server/tests/unit/services/bitcoin/electrum.methods.batch.test.ts
  server/tests/unit/services/syncService.test.ts
  server/tests/unit/utils/docker.test.ts
  server/tests/unit/worker/lockCoordination.test.ts
  server/tests/unit/worker/worker.entry.test.ts
Due: backend-tests, build-dev-backend

refactor: extract helpers and eliminate magic numbers from blocking-ops changes
  gateway/src/config.ts
  gateway/src/middleware/requestLogger.ts
  gateway/src/services/backendEvents/deviceTokens.ts
  gateway/tests/unit/middleware/requestLogger.test.ts
  gateway/tests/unit/services/backendEvents.deviceTokens.test.ts
  server/src/api/ai/systemResources.ts
  server/src/services/bitcoin/sync/phases/rbfCleanup.ts
  server/src/services/bitcoin/sync/phases/reconcileUtxos.ts
  server/tests/unit/services/bitcoin/sync/phases.test.ts
  server/tests/unit/services/blockchainService.test.ts
Due: backend-tests, build-dev-backend

docs: clarify upgrade instructions for tag-based installs
  .github/workflows/create-release.yml
  README.md
Due: none

feat: add feature flag admin UI with runtime toggling and audit trail
  App.tsx
  components/FeatureFlags/index.tsx
  components/Layout/SidebarContent.tsx
  server/src/api/admin.ts
  server/src/api/admin/features.ts
  server/src/api/schemas/admin.ts
  server/src/events/types.ts
  server/src/services/featureFlagService.ts
  server/src/worker.ts
  server/src/worker/workerJobQueue/index.ts
  server/tests/integration/setup/workerHarness.ts
  server/tests/unit/api/admin-features-routes.test.ts
  server/tests/unit/services/featureFlagService.test.ts
  server/tests/unit/worker/worker.entry.test.ts
  server/tests/unit/worker/workerJobQueue.test.ts
  src/api/admin/features.ts
  src/api/admin/index.ts
  src/api/admin/types.ts
  tests/api/remainingApiModules.test.ts
  tests/components/FeatureFlags.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore(release): bump version to 0.8.12
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix(ci): use default config import in UTXO reconcile phase
  server/src/services/bitcoin/sync/phases/reconcileUtxos.ts
Due: backend-tests, build-dev-backend

test(frontend): close remaining coverage gaps for CI gate
  components/DeviceDetail/accounts/hooks/useAddAccountFlow.ts
  components/FeatureFlags/index.tsx
  tests/App.branches.test.tsx
  tests/components/FeatureFlags.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

test(e2e): expand low-priority route rendering coverage
  e2e/render-regression.spec.ts
Due: none

Add feature-flag key validation and runtime toggle coverage
  components/FeatureFlags/index.tsx
  server/src/api/admin/features.ts
  server/src/api/schemas/admin.ts
  server/src/services/featureFlagService.ts
  server/src/services/featureFlags/definitions.ts
  server/tests/integration/worker/featureFlagToggle.integration.test.ts
  server/tests/unit/api/admin-features-routes.test.ts
  server/tests/unit/services/featureFlagService.test.ts
  server/tests/unit/worker/worker.entry.test.ts
  src/api/admin/types.ts
  tests/components/FeatureFlags.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

refactor: remove dead code and optimize app lazy loading
  App.tsx
  components/AISettings/tabs/index.ts
  components/CoinControlPanel/CoinControlPanel.tsx
  components/CoinControlPanel/UtxoRow.tsx
  components/CoinControlPanel/index.ts
  components/CoinControlPanel/types.ts
  components/CoinControlPanel/utils.ts
  components/ElectrumServerSettings/ElectrumServerSettings.tsx
  components/ElectrumServerSettings/HealthHistoryBlocks.tsx
  components/ElectrumServerSettings/ServerForm.tsx
  components/ElectrumServerSettings/ServerRow.tsx
  components/ElectrumServerSettings/constants.ts
  components/ElectrumServerSettings/types.ts
  hooks/send/index.ts
  package-lock.json
  package.json
  services/hardwareWallet.ts
  tests/App.branches.test.tsx
  tests/components/CoinControlPanel.branches.test.tsx
  tests/components/CoinControlPanel.secondpass.test.tsx
  tests/components/CoinControlPanel.test.tsx
  tests/components/CoinControlPanel.utils.test.ts
  tests/components/CoinControlPanel/UtxoRow.test.tsx
  tests/components/ElectrumServerSettings.test.tsx
  tests/components/ElectrumServerSettings/ElectrumServerSettings.branches.test.tsx
  tests/components/ElectrumServerSettings/HealthHistoryBlocks.test.tsx
  tests/components/ElectrumServerSettings/ServerForm.branches.test.tsx
  tests/components/ElectrumServerSettings/ServerRow.branches.test.tsx
  utils/__tests__/bip21Parser.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore: remove dormant modules and centralize hw runtime loading
  ADVANCED_FEATURES.md
  components/DustWarningBadge.tsx
  components/ImportWallet/steps/HardwareImport.tsx
  components/StrategySelector.tsx
  hooks/useDeviceConnection.ts
  hooks/useHardwareWallet.ts
  server/src/infrastructure/memoryMonitor.ts
  server/src/infrastructure/readReplica.ts
  server/src/services/bitcoin/plugin.ts
  server/src/services/lightning/beaconClient.ts
  server/tests/unit/infrastructure/memoryMonitor.test.ts
  server/tests/unit/infrastructure/readReplica.behavior.test.ts
  server/tests/unit/infrastructure/readReplica.test.ts
  server/tests/unit/services/bitcoin/plugin.test.ts
  server/tests/unit/services/lightning/beaconClient.test.ts
  services/hardwareWallet/index.ts
  services/hardwareWallet/loader.ts
  shared/types/api/admin.ts
  shared/types/api/auth.ts
  shared/types/api/bitcoin.ts
  shared/types/api/common.ts
  shared/types/api/device.ts
  shared/types/api/draft.ts
  shared/types/api/index.ts
  shared/types/api/transaction.ts
  shared/types/api/wallet.ts
  tests/components/DustWarningBadge.test.tsx
  tests/components/StrategySelector.test.tsx
  tests/services/hardwareWallet.environment.test.ts
  tests/services/hardwareWallet.index.test.ts
  tests/services/hardwareWallet.loader.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore: upgrade artifact actions to Node 24 (upload v7, download v8)
  .github/workflows/test.yml
Due: none

chore: upgrade Stryker from v8 to v9.6.0
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: update E2E and unit tests for encryption keys POST endpoint
  e2e/render-regression.spec.ts
  server/src/api/admin/backup.ts
  server/tests/unit/api/admin.test.ts
Due: backend-tests, build-dev-backend

feat: UI polish pass — loading skeletons, animations, dark mode fixes, and consistency improvements
  App.tsx
  components/Amount.tsx
  components/BlockVisualizer/Block.tsx
  components/BlockVisualizer/blockUtils.ts
  components/CreateWallet/WalletTypeStep.tsx
  components/Dashboard/Dashboard.tsx
  components/Dashboard/MempoolSection.tsx
  components/Dashboard/RecentTransactions.tsx
  components/Dashboard/WalletSummary.tsx
  components/FeatureFlags/index.tsx
  components/ImportWallet/steps/FormatSelection.tsx
  components/Layout/Layout.tsx
  components/Layout/NavItem.tsx
  components/Layout/SidebarContent.tsx
  components/NetworkConnectionCard/NetworkConnectionCard.tsx
  components/NotificationToast.tsx
  components/WalletDetail/TabBar.tsx
  components/ui/Button.tsx
  components/ui/EmptyState.tsx
  components/ui/Skeleton.tsx
  index.html
  tests/components/BlockVisualizer/Block.test.tsx
  tests/components/Dashboard/Dashboard.render.test.tsx
  tests/components/Dashboard/WalletSummary.test.tsx
  tests/components/Layout.branches.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

fix: restore 100% frontend coverage after UI consistency changes
  App.tsx
  tests/components/Layout/SidebarContent.branches.test.tsx
  tests/components/NotificationToast.test.tsx
  tests/components/ui/EmptyState.test.tsx
Due: backend-tests, frontend-tests

test: add BIP-143, BIP-341, BIP-380, and Bitcoin Core key_io verification
  server/tests/BIP-TEST-PLAN.md
  server/tests/fixtures/bip143-test-vectors.ts
  server/tests/fixtures/bip341-test-vectors.ts
  server/tests/fixtures/bip380-test-vectors.ts
  server/tests/fixtures/bitcoin-core-key-io-vectors.ts
  server/tests/fixtures/index.ts
  server/tests/unit/services/bitcoin/bip143.verified.test.ts
  server/tests/unit/services/bitcoin/bip341.verified.test.ts
  server/tests/unit/services/bitcoin/bip380.verified.test.ts
  server/tests/unit/services/bitcoin/key-io.verified.test.ts
Due: backend-tests, build-dev-backend

feat: add rich tooltips and cross-highlight to dashboard wallet summary and fees
  components/Dashboard/Dashboard.tsx
  components/Dashboard/WalletSummary.tsx
  tests/components/Dashboard/WalletSummary.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

test: cover dashboard tooltip hover handlers and undefined fee branch
  tests/components/Dashboard/Dashboard.render.test.tsx
  tests/components/Dashboard/WalletSummary.test.tsx
Due: backend-tests, frontend-tests

Bump version to 0.8.14
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: correct E2E test selectors to match actual UI text
  e2e/user-journeys.spec.ts
Due: none

Bump version to 0.8.15
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

test: add E2E tests for dashboard 24h price change and block visualizer tooltips
  e2e/dashboard-price-blocks.spec.ts
Due: none

fix: resolve E2E test failures and consolidation tx display bug
  components/TransactionList/TransactionRow.tsx
  e2e/accessibility.spec.ts
  e2e/admin-operations.spec.ts
  e2e/create-wallet-flow.spec.ts
  e2e/error-recovery.spec.ts
  e2e/import-wallet-flow.spec.ts
  e2e/send-transaction-flow.spec.ts
  e2e/settings-persistence.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
  tests/components/TransactionList/TransactionRow.branches.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

fix: resolve remaining E2E test failures
  e2e/accessibility.spec.ts
  e2e/admin-operations.spec.ts
  e2e/dashboard-price-blocks.spec.ts
  e2e/error-recovery.spec.ts
  e2e/wallet-sharing-privacy.spec.ts
Due: none

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
