Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

Refactor: Make setup.sh the polished core, install.sh a thin wrapper
  install.sh
  scripts/setup.sh
Due: install-unit-tests, fresh-install-test, install-script-test

Document installation scripts architecture in CLAUDE.md
  CLAUDE.md
Due: none

Add clear Next Steps checklist to setup.sh completion output
  scripts/setup.sh
Due: none

Simplify Next Steps - remove conditional start step
  scripts/setup.sh
Due: none

Fix: Don't skip optional feature prompts during upgrade
  install.sh
Due: install-unit-tests, fresh-install-test, install-script-test

Use docker compose --wait to ensure builds complete before showing messages
  scripts/setup.sh
Due: none

Fix: Ensure completion banner shows even if docker compose --wait fails
  scripts/setup.sh
Due: none

Fix: Separate build and start steps to ensure build completes first
  scripts/setup.sh
Due: none

Fix: Handle docker compose build race condition errors gracefully
  scripts/setup.sh
Due: none

Prevent double build by adding --no-build to docker compose up
  scripts/setup.sh
Due: none

Update README: setup.sh now handles SSL and startup
  README.md
Due: none

Revert --no-build to allow recovery from partial builds
  scripts/setup.sh
Due: none

Bump version to 0.8.3
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix install tests for setup.sh refactoring
  tests/install/unit/install-script.test.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test

Bump version to 0.8.4
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix type imports and update test fixtures to use official BIP vectors
  gateway/src/utils/logger.ts
  server/src/utils/logger.ts
  server/tests/fixtures/bitcoin.ts
  tests/services/deviceParsers/deviceParsers.test.ts
  utils/logger.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add multi-implementation address verification system
  scripts/bitcoin-core-docker/Dockerfile
  scripts/bitcoin-core-docker/README.md
  scripts/bitcoin-core-docker/build.sh
  scripts/bitcoin-core-docker/verify-and-build.sh
  scripts/verify-addresses/README.md
  scripts/verify-addresses/docker-compose.self-built.yml
  scripts/verify-addresses/docker-compose.yml
  scripts/verify-addresses/generate-vectors.ts
  scripts/verify-addresses/implementations/bitcoincore.ts
  scripts/verify-addresses/implementations/bitcoinjs.ts
  scripts/verify-addresses/implementations/caravan.ts
  scripts/verify-addresses/implementations/go-verify.go
  scripts/verify-addresses/implementations/go.mod
  scripts/verify-addresses/implementations/go.ts
  scripts/verify-addresses/implementations/python-verify.py
  scripts/verify-addresses/implementations/python.ts
  scripts/verify-addresses/output/verified-vectors.ts
  scripts/verify-addresses/package-lock.json
  scripts/verify-addresses/package.json
  scripts/verify-addresses/tsconfig.json
  scripts/verify-addresses/types.ts
  server/src/services/bitcoin/addressDerivation.ts
  server/tests/fixtures/index.ts
  server/tests/fixtures/verified-address-vectors.ts
  server/tests/unit/services/bitcoin/addressDerivation.verified.test.ts
Due: backend-tests, build-dev-backend

Add rigorous derivation path tests for hardware wallet compatibility
  server/tests/unit/services/scriptTypes/derivationPaths.test.ts
Due: backend-tests, build-dev-backend

Add paranoid multisig and xpub validation tests for hardware wallet compatibility
  server/tests/unit/services/bitcoin/multisigKeyOrdering.test.ts
  server/tests/unit/services/bitcoin/xpubValidation.test.ts
Due: backend-tests, build-dev-backend

Add comprehensive address derivation testing infrastructure
  .github/workflows/verify-vectors.yml
  server/package-lock.json
  server/package.json
  server/tests/fixtures/hardware-wallet-vectors.ts
  server/tests/unit/services/bitcoin/descriptorChecksum.test.ts
  server/tests/unit/services/bitcoin/hardwareWalletCompatibility.test.ts
  server/tests/unit/services/bitcoin/propertyBased.test.ts
  server/vitest.config.ts
Due: backend-tests, build-dev-backend

Add Stryker mutation testing for address derivation
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/stryker.conf.mjs
Due: backend-tests, build-dev-backend

Add email verification for user registration
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20260113000000_add_email_verification/migration.sql
  server/prisma/schema.prisma
  server/src/api/admin/settings.ts
  server/src/api/admin/users.ts
  server/src/api/auth.ts
  server/src/api/auth/email.ts
  server/src/api/auth/login.ts
  server/src/api/schemas/email.ts
  server/src/constants.ts
  server/src/repositories/emailVerificationRepository.ts
  server/src/repositories/index.ts
  server/src/repositories/systemSettingRepository.ts
  server/src/repositories/userRepository.ts
  server/src/services/auditService.ts
  server/src/services/email/emailService.ts
  server/src/services/email/emailVerificationService.ts
  server/src/services/email/index.ts
  server/src/services/email/templates/verification.ts
  server/src/services/email/types.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/auth.test.ts
  server/tests/unit/api/email.test.ts
  server/tests/unit/api/schemas/email.test.ts
  server/tests/unit/repositories/emailVerificationRepository.test.ts
  server/tests/unit/repositories/userRepository.test.ts
  server/tests/unit/services/email/emailService.test.ts
  server/tests/unit/services/email/emailVerificationService.test.ts
  server/tests/unit/services/email/templates/verification.test.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

Add PSBT cross-implementation verification infrastructure
  scripts/verify-psbt/CLAUDE.md
  scripts/verify-psbt/README.md
  scripts/verify-psbt/docker-compose.yml
  scripts/verify-psbt/implementations/bitcoincore.ts
  scripts/verify-psbt/implementations/sanctuary.ts
  scripts/verify-psbt/package.json
  scripts/verify-psbt/types.ts
  server/tests/fixtures/bip174-test-vectors.ts
  server/tests/unit/services/bitcoin/psbt.property.test.ts
  server/tests/unit/services/bitcoin/psbt.verified.test.ts
Due: backend-tests, build-dev-backend

Add Stryker mutation testing for address derivation
  server/stryker.conf.mjs
Due: build-dev-backend

Add PSBT verification to release testing workflow
  .github/workflows/verify-vectors.yml
Due: none

Add PSBT vector generation script
  scripts/verify-psbt/generate-vectors.ts
Due: none

Fix integration tests for email verification requirement
  server/tests/integration/flows/admin.integration.test.ts
  server/tests/integration/flows/security.integration.test.ts
  server/tests/integration/repositories/setup.ts
  server/tests/integration/setup/helpers.ts
Due: backend-tests, build-dev-backend

Add email field to remaining admin user creation tests
  server/tests/integration/flows/admin.integration.test.ts
  server/tests/integration/flows/auth.integration.test.ts
  server/tests/integration/flows/security.integration.test.ts
Due: backend-tests, build-dev-backend

Simplify codebase with shared utilities and consolidated patterns
  components/BackupRestore.tsx
  components/DraftList.tsx
  hooks/useLoadingState.ts
  server/src/services/errors.ts
  shared/types/logger.ts
  src/api/client.ts
  src/api/transactions.ts
  src/api/wallets.ts
  utils/download.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Remove beacon subdirectory (now separate project)
  docs/BEACON_GITHUB_SETUP.md
  scripts/verify-addresses/docker-compose.self-built.yml
  scripts/verify-addresses/docker-compose.yml
  scripts/verify-addresses/implementations/bitcoincore.ts
Due: none

Adopt useLoadingState hook in DeviceSharing component
  components/DeviceSharing.tsx
  tests/components/DeviceSharing.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Refactor SendTransactionPage to use useLoadingState hook
  components/send/SendTransactionPage.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Refactor ConnectDevice into modular architecture
  components/ConnectDevice.tsx
  components/ConnectDevice/ConflictDialog.tsx
  components/ConnectDevice/ConnectDevice.tsx
  components/ConnectDevice/ConnectionMethodSelector.tsx
  components/ConnectDevice/DeviceDetailsForm.tsx
  components/ConnectDevice/DeviceModelSelector.tsx
  components/ConnectDevice/FileUploadPanel.tsx
  components/ConnectDevice/QrScannerPanel.tsx
  components/ConnectDevice/UsbConnectionPanel.tsx
  components/ConnectDevice/index.ts
  components/ConnectDevice/types.ts
  hooks/useDeviceConnection.ts
  hooks/useDeviceModels.ts
  hooks/useDeviceSave.ts
  hooks/useQrScanner.ts
  utils/deviceConnection.ts
  utils/urDeviceDecoder.ts
Due: backend-tests, frontend-tests, build-dev-frontend

Bump version to 0.8.5 and add missing test dependencies
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix: Move nodemailer to production dependencies for Docker builds
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix flaky UserContext theme test with better isolation
  tests/contexts/UserContext.test.tsx
Due: backend-tests, frontend-tests

Bump version to 0.8.7
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add release workflow instructions to prevent version churn on CI failures
  CLAUDE.md
Due: none

Fix: Use correct PostgreSQL table names in maintenance raw SQL queries
  server/src/services/maintenanceService.ts
Due: backend-tests, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
