Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml

refactor: modularize AISettings component into focused subcomponents
  components/AISettings.tsx
  components/AISettings/AISettings.tsx
  components/AISettings/components/ContainerControls.tsx
  components/AISettings/components/EnableModal.tsx
  components/AISettings/hooks/useAIStatus.ts
  components/AISettings/index.ts
  components/AISettings/tabs/ModelsTab.tsx
  components/AISettings/tabs/SettingsTab.tsx
  components/AISettings/tabs/StatusTab.tsx
  components/AISettings/tabs/index.ts
  components/AISettings/types.ts
  tests/components/AISettingsSubcomponents.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize ImportWallet component into focused subcomponents
  components/ImportWallet.tsx
  components/ImportWallet/DeviceResolution.tsx
  components/ImportWallet/ImportReview.tsx
  components/ImportWallet/ImportWallet.tsx
  components/ImportWallet/hooks/useImportState.ts
  components/ImportWallet/importHelpers.ts
  components/ImportWallet/index.ts
  components/ImportWallet/steps/DescriptorInput.tsx
  components/ImportWallet/steps/FormatSelection.tsx
  components/ImportWallet/steps/HardwareImport.tsx
  components/ImportWallet/steps/QrScanStep.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize Settings component into focused subcomponents
  components/Settings.tsx
  components/Settings/Settings.tsx
  components/Settings/index.ts
  components/Settings/sections/DisplaySection.tsx
  components/Settings/sections/NotificationsSection.tsx
  components/Settings/sections/ServicesSection.tsx
  components/Settings/sections/SoundSection.tsx
  components/Settings/sections/TelegramSection.tsx
  components/Settings/sections/ThemeSection.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize BackupRestore component into focused subcomponents
  components/BackupRestore.tsx
  components/BackupRestore/BackupPanel.tsx
  components/BackupRestore/BackupRestore.tsx
  components/BackupRestore/EncryptionKeyDisplay.tsx
  components/BackupRestore/RestorePanel.tsx
  components/BackupRestore/index.ts
Due: backend-tests, frontend-tests, build-dev-frontend

test: update and expand test coverage for modularized components
  tests/components/Account.test.tsx
  tests/components/BackupRestore.test.tsx
  tests/components/ConnectDevice.backcompat.test.tsx
  tests/components/ConnectDevice.test.tsx
  tests/components/ConnectDevice/ConflictDialog.test.tsx
  tests/components/ConnectDevice/DeviceDetailsForm.test.tsx
  tests/components/ConnectDevice/FileUploadPanel.test.tsx
  tests/components/ConnectDevice/QrScannerPanel.test.tsx
  tests/components/ConnectDevice/UsbConnectionPanel.test.tsx
  tests/components/DeviceDetailPage.test.tsx
  tests/components/DeviceList.test.tsx
  tests/components/DraftList.test.tsx
  tests/components/Settings.interactions.test.tsx
  tests/components/TransactionList.test.tsx
  tests/components/WalletDetail/LogTab.test.tsx
  tests/components/WalletDetail/WalletTelegramSettings.test.tsx
  tests/components/WalletDetail/hooks/useAITransactionFilter.test.ts
  tests/components/WalletDetail/hooks/useWalletSharing.test.ts
  tests/components/WalletDetail/hooks/useWalletSync.test.ts
  tests/components/WalletDetail/hooks/useWalletWebSocket.test.ts
  tests/components/WalletDetail/modals/DeviceSharePromptModal.test.tsx
  tests/components/WalletDetail/tabs/AccessTab.test.tsx
  tests/components/WalletDetail/tabs/AddressesTab.test.tsx
  tests/components/WalletDetail/tabs/DraftsTab.test.tsx
  tests/components/WalletDetail/tabs/SettingsTab.test.tsx
  tests/components/WalletDetail/tabs/StatsTab.test.tsx
  tests/components/WalletDetail/tabs/TransactionsTab.test.tsx
  tests/components/qr/QRSigningModal.test.tsx
  tests/components/ui/ColumnConfigButton.test.tsx
  tests/hooks/queries/index.test.ts
  tests/hooks/queries/useWallets.test.tsx
  tests/hooks/soundPresets.test.ts
  tests/utils/deviceConnection.test.ts
  tests/utils/download.test.ts
  tests/utils/urDeviceDecoder.test.ts
Due: backend-tests, frontend-tests

refactor: modularize electrumPool.ts into focused submodules
  server/src/services/bitcoin/electrumPool.ts
  server/src/services/bitcoin/electrumPool/acquisitionQueue.ts
  server/src/services/bitcoin/electrumPool/backoffManager.ts
  server/src/services/bitcoin/electrumPool/connectionManager.ts
  server/src/services/bitcoin/electrumPool/electrumPool.ts
  server/src/services/bitcoin/electrumPool/healthChecker.ts
  server/src/services/bitcoin/electrumPool/index.ts
  server/src/services/bitcoin/electrumPool/poolRegistry.ts
  server/src/services/bitcoin/electrumPool/serverSelector.ts
  server/src/services/bitcoin/electrumPool/types.ts
Due: backend-tests, build-dev-backend

refactor: modularize electrum.ts into focused submodules
  server/src/services/bitcoin/electrum.ts
  server/src/services/bitcoin/electrum/connection.ts
  server/src/services/bitcoin/electrum/electrumClient.ts
  server/src/services/bitcoin/electrum/index.ts
  server/src/services/bitcoin/electrum/methods.ts
  server/src/services/bitcoin/electrum/protocol.ts
  server/src/services/bitcoin/electrum/types.ts
Due: backend-tests, build-dev-backend

refactor: modularize walletImport.ts into focused submodules
  server/src/services/walletImport.ts
  server/src/services/walletImport/descriptorImport.ts
  server/src/services/walletImport/deviceResolution.ts
  server/src/services/walletImport/index.ts
  server/src/services/walletImport/jsonImport.ts
  server/src/services/walletImport/types.ts
  server/src/services/walletImport/walletImportService.ts
Due: backend-tests, build-dev-backend

refactor: modularize useSendTransactionActions into focused sub-hooks
  hooks/send/index.ts
  hooks/send/types.ts
  hooks/send/useBroadcast.ts
  hooks/send/useDraftManagement.ts
  hooks/send/usePayjoin.ts
  hooks/send/useQrSigning.ts
  hooks/send/useSendTransactionActions.ts
  hooks/send/useUsbSigning.ts
  hooks/useSendTransactionActions.ts
  tests/hooks/useSendTransactionActions.test.tsx
Due: backend-tests, frontend-tests

refactor: modularize NetworkConnectionCard, BlockVisualizer, OutputsStep
  components/BlockVisualizer.tsx
  components/BlockVisualizer/Block.tsx
  components/BlockVisualizer/BlockAnimationStyles.tsx
  components/BlockVisualizer/BlockVisualizer.tsx
  components/BlockVisualizer/PendingTxDot.tsx
  components/BlockVisualizer/QueuedSummaryBlock.tsx
  components/BlockVisualizer/blockUtils.ts
  components/BlockVisualizer/index.ts
  components/BlockVisualizer/types.ts
  components/NetworkConnectionCard.tsx
  components/NetworkConnectionCard/HealthHistoryBlocks.tsx
  components/NetworkConnectionCard/NetworkConnectionCard.tsx
  components/NetworkConnectionCard/PoolConfig.tsx
  components/NetworkConnectionCard/ServerForm.tsx
  components/NetworkConnectionCard/ServerRow.tsx
  components/NetworkConnectionCard/SingletonConfig.tsx
  components/NetworkConnectionCard/constants.ts
  components/NetworkConnectionCard/index.ts
  components/NetworkConnectionCard/networkConfigHelpers.ts
  components/NetworkConnectionCard/types.ts
  components/send/steps/OutputsStep/AdvancedOptionsPanel.tsx
  components/send/steps/OutputsStep/CoinControlPanel.tsx
  components/send/steps/OutputsStep/FeePanel.tsx
  components/send/steps/OutputsStep/OutputsStep.tsx
  components/send/steps/OutputsStep/UtxoRow.tsx
  components/send/steps/OutputsStep/index.ts
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize ElectrumServerSettings, Account, WalletDetail
  components/Account.tsx
  components/Account/Account.tsx
  components/Account/BackupCodesGrid.tsx
  components/Account/BackupCodesModal.tsx
  components/Account/DisableTwoFactorModal.tsx
  components/Account/PasswordForm.tsx
  components/Account/SetupTwoFactorModal.tsx
  components/Account/TwoFactorSection.tsx
  components/Account/index.ts
  components/Account/types.ts
  components/ElectrumServerSettings.tsx
  components/ElectrumServerSettings/ElectrumServerSettings.tsx
  components/ElectrumServerSettings/HealthHistoryBlocks.tsx
  components/ElectrumServerSettings/ServerForm.tsx
  components/ElectrumServerSettings/ServerRow.tsx
  components/ElectrumServerSettings/constants.ts
  components/ElectrumServerSettings/index.ts
  components/ElectrumServerSettings/types.ts
  components/WalletDetail/TabBar.tsx
  components/WalletDetail/WalletDetail.tsx
  components/WalletDetail/index.ts
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize UsersGroups, AuditLogs, WalletList, Monitoring
  components/AuditLogs.tsx
  components/AuditLogs/AuditLogs.tsx
  components/AuditLogs/FilterPanel.tsx
  components/AuditLogs/LogDetailModal.tsx
  components/AuditLogs/LogTable.tsx
  components/AuditLogs/StatCards.tsx
  components/AuditLogs/constants.ts
  components/AuditLogs/index.ts
  components/Monitoring.tsx
  components/Monitoring/EditUrlModal.tsx
  components/Monitoring/Monitoring.tsx
  components/Monitoring/ServiceCard.tsx
  components/Monitoring/StatusBadge.tsx
  components/Monitoring/index.ts
  components/Monitoring/types.ts
  components/UsersGroups.tsx
  components/UsersGroups/CreateUserModal.tsx
  components/UsersGroups/EditGroupModal.tsx
  components/UsersGroups/EditUserModal.tsx
  components/UsersGroups/GroupPanel.tsx
  components/UsersGroups/PasswordRequirements.tsx
  components/UsersGroups/UserPanel.tsx
  components/UsersGroups/UsersGroups.tsx
  components/UsersGroups/index.ts
  components/WalletList.tsx
  components/WalletList/BalanceChart.tsx
  components/WalletList/WalletGridView.tsx
  components/WalletList/WalletList.tsx
  components/WalletList/index.ts
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize DeviceList, CoinControlPanel, CreateWallet
  components/CoinControlPanel.tsx
  components/CoinControlPanel/CoinControlPanel.tsx
  components/CoinControlPanel/UtxoRow.tsx
  components/CoinControlPanel/index.ts
  components/CoinControlPanel/types.ts
  components/CoinControlPanel/utils.ts
  components/CreateWallet.tsx
  components/CreateWallet/ConfigurationStep.tsx
  components/CreateWallet/CreateWallet.tsx
  components/CreateWallet/ReviewStep.tsx
  components/CreateWallet/SignerSelectionStep.tsx
  components/CreateWallet/WalletTypeStep.tsx
  components/CreateWallet/index.ts
  components/CreateWallet/types.ts
  components/DeviceList.tsx
  components/DeviceList/DeviceGroupedView.tsx
  components/DeviceList/DeviceList.tsx
  components/DeviceList/DeviceListHeader.tsx
  components/DeviceList/EmptyState.tsx
  components/DeviceList/index.ts
  components/DeviceList/types.ts
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: modularize descriptorParser, backupService, transferService
  server/src/services/backupService.ts
  server/src/services/backupService/backupService.ts
  server/src/services/backupService/constants.ts
  server/src/services/backupService/creation.ts
  server/src/services/backupService/index.ts
  server/src/services/backupService/migration.ts
  server/src/services/backupService/restore.ts
  server/src/services/backupService/serialization.ts
  server/src/services/backupService/types.ts
  server/src/services/backupService/validation.ts
  server/src/services/bitcoin/descriptorParser.ts
  server/src/services/bitcoin/descriptorParser/bluewalletParser.ts
  server/src/services/bitcoin/descriptorParser/checksum.ts
  server/src/services/bitcoin/descriptorParser/coldcardParser.ts
  server/src/services/bitcoin/descriptorParser/descriptorParser.ts
  server/src/services/bitcoin/descriptorParser/descriptorUtils.ts
  server/src/services/bitcoin/descriptorParser/index.ts
  server/src/services/bitcoin/descriptorParser/jsonParser.ts
  server/src/services/bitcoin/descriptorParser/parseImportInput.ts
  server/src/services/bitcoin/descriptorParser/types.ts
  server/src/services/transferService.ts
  server/src/services/transferService/actions.ts
  server/src/services/transferService/confirm.ts
  server/src/services/transferService/helpers.ts
  server/src/services/transferService/index.ts
  server/src/services/transferService/initiate.ts
  server/src/services/transferService/maintenance.ts
  server/src/services/transferService/queries.ts
  server/src/services/transferService/types.ts
Due: backend-tests, build-dev-backend

refactor: modularize openapi and advancedTx
  server/src/api/openapi.ts
  server/src/api/openapi/index.ts
  server/src/api/openapi/paths/auth.ts
  server/src/api/openapi/paths/bitcoin.ts
  server/src/api/openapi/paths/devices.ts
  server/src/api/openapi/paths/wallets.ts
  server/src/api/openapi/schemas/auth.ts
  server/src/api/openapi/schemas/bitcoin.ts
  server/src/api/openapi/schemas/common.ts
  server/src/api/openapi/schemas/device.ts
  server/src/api/openapi/schemas/wallet.ts
  server/src/api/openapi/spec.ts
  server/src/api/openapi/swaggerUI.ts
  server/src/services/bitcoin/advancedTx.ts
  server/src/services/bitcoin/advancedTx/batch.ts
  server/src/services/bitcoin/advancedTx/cpfp.ts
  server/src/services/bitcoin/advancedTx/feeEstimation.ts
  server/src/services/bitcoin/advancedTx/index.ts
  server/src/services/bitcoin/advancedTx/rbf.ts
  server/src/services/bitcoin/advancedTx/shared.ts
Due: backend-tests, build-dev-backend

refactor: modularize notifications websocket service
  server/src/websocket/notifications.ts
  server/src/websocket/notifications/broadcasts.ts
  server/src/websocket/notifications/index.ts
  server/src/websocket/notifications/notificationService.ts
  server/src/websocket/notifications/subscriptions.ts
  server/src/websocket/notifications/types.ts
Due: backend-tests, build-dev-backend

refactor: modularize psbtBuilder, eventService, twoFactor, walletTransactions
  server/src/api/auth/twoFactor.ts
  server/src/api/auth/twoFactor/index.ts
  server/src/api/auth/twoFactor/management.ts
  server/src/api/auth/twoFactor/setup.ts
  server/src/api/auth/twoFactor/verify.ts
  server/src/api/transactions/walletTransactions.ts
  server/src/api/transactions/walletTransactions/exportTransactions.ts
  server/src/api/transactions/walletTransactions/index.ts
  server/src/api/transactions/walletTransactions/listTransactions.ts
  server/src/api/transactions/walletTransactions/pending.ts
  server/src/api/transactions/walletTransactions/recalculate.ts
  server/src/api/transactions/walletTransactions/stats.ts
  server/src/api/transactions/walletTransactions/utils.ts
  server/src/services/bitcoin/psbtBuilder.ts
  server/src/services/bitcoin/psbtBuilder/bip32Derivations.ts
  server/src/services/bitcoin/psbtBuilder/decoyAmounts.ts
  server/src/services/bitcoin/psbtBuilder/index.ts
  server/src/services/bitcoin/psbtBuilder/multisigFinalization.ts
  server/src/services/bitcoin/psbtBuilder/types.ts
  server/src/services/bitcoin/psbtBuilder/witnessScript.ts
  server/src/services/event/deviceEvents.ts
  server/src/services/event/eventService.ts
  server/src/services/event/index.ts
  server/src/services/event/systemEvents.ts
  server/src/services/event/transactionEvents.ts
  server/src/services/event/types.ts
  server/src/services/event/userEvents.ts
  server/src/services/event/walletEvents.ts
  server/src/services/eventService.ts
Due: backend-tests, build-dev-backend

fix: resolve type errors in proxyTest.ts after modularization
  server/src/api/admin/proxyTest.ts
Due: backend-tests, build-dev-backend

refactor: modularize shared/types/api.ts into domain-specific type files
  shared/types/api.ts
  shared/types/api/admin.ts
  shared/types/api/auth.ts
  shared/types/api/bitcoin.ts
  shared/types/api/common.ts
  shared/types/api/device.ts
  shared/types/api/draft.ts
  shared/types/api/index.ts
  shared/types/api/transaction.ts
  shared/types/api/wallet.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

refactor: modularize walletService, electrumManager, and trezor adapter
  server/src/services/wallet/index.ts
  server/src/services/wallet/types.ts
  server/src/services/wallet/walletCreate.ts
  server/src/services/wallet/walletDevices.ts
  server/src/services/wallet/walletMutations.ts
  server/src/services/wallet/walletQueries.ts
  server/src/services/wallet/walletService.ts
  server/src/worker/electrumManager.ts
  server/src/worker/electrumManager/addressSubscriptions.ts
  server/src/worker/electrumManager/electrumManager.ts
  server/src/worker/electrumManager/healthMonitoring.ts
  server/src/worker/electrumManager/index.ts
  server/src/worker/electrumManager/lockCoordination.ts
  server/src/worker/electrumManager/networkConnection.ts
  server/src/worker/electrumManager/reconnection.ts
  server/src/worker/electrumManager/types.ts
  server/tests/unit/worker/electrumManager.test.ts
  services/hardwareWallet/adapters/trezor.ts
  services/hardwareWallet/adapters/trezor/index.ts
  services/hardwareWallet/adapters/trezor/multisig.ts
  services/hardwareWallet/adapters/trezor/pathUtils.ts
  services/hardwareWallet/adapters/trezor/refTxs.ts
  services/hardwareWallet/adapters/trezor/signPsbt.ts
  services/hardwareWallet/adapters/trezor/trezorAdapter.ts
  services/hardwareWallet/adapters/trezor/types.ts
  services/hardwareWallet/adapters/trezor/xpubUtils.ts
Due: backend-tests, build-dev-backend

test: add branch coverage suites for send page and notifications
  tests/components/NotificationPanel.branches.test.tsx
  tests/components/send/SendTransactionPage.branches.test.tsx
Due: backend-tests, frontend-tests

test: close remaining branch gaps for connect and send flows
  tests/components/ConnectDevice/ConnectDevice.branches.test.tsx
  tests/components/send/SendTransactionPage.branches.test.tsx
Due: backend-tests, frontend-tests

test: add branch coverage suite for send transaction wizard
  tests/components/send/SendTransactionWizard.branches.test.tsx
Due: backend-tests, frontend-tests

test: expand branch coverage for create wallet review and audit logs
  tests/components/AuditLogs/LogDetailModal.branches.test.tsx
  tests/components/AuditLogs/StatCards.branches.test.tsx
  tests/components/AuditLogs/constants.branches.test.ts
  tests/components/CreateWallet/ReviewStep.branches.test.tsx
Due: backend-tests, frontend-tests

test: add branch coverage for priority step 1-4 gaps
  tests/App.branches.test.tsx
  tests/components/CoinControlPanel.branches.test.tsx
  tests/components/NodeConfig.branches.test.tsx
  tests/components/UTXOList.branches.test.tsx
  tests/components/WalletDetail/tabs/SettingsTab.branches.test.tsx
  tests/index.branches.test.tsx
  tests/services/deviceParsers/coldcardNested.branches.test.ts
  tests/services/deviceParsers/keystone.branches.test.ts
  tests/services/hardwareWallet/trezor.signPsbt.branches.test.ts
  tests/shared/request.test.ts
Due: backend-tests, frontend-tests

test: second-pass branch coverage for coin control, node config, keystone, and trezor signing
  tests/components/CoinControlPanel.secondpass.test.tsx
  tests/components/NodeConfig.secondpass.test.tsx
  tests/services/deviceParsers/keystone.branches.test.ts
  tests/services/hardwareWallet/trezor.signPsbt.branches.test.ts
Due: backend-tests, frontend-tests

refactor: modularize ConnectDevice and SystemSettings into focused modules
  components/ConnectDevice/ConnectDevice.tsx
  components/ConnectDevice/hooks/useDeviceForm.ts
  components/SystemSettings/AccessControlTab.tsx
  components/SystemSettings/WebSocketStatsCard.tsx
  components/SystemSettings/index.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

test: raise branch coverage for next hotspot quartet
  tests/components/ElectrumServerSettings/ServerForm.branches.test.tsx
  tests/components/Settings/sections/ThemeSection/panels/VisualSettingsPanel.branches.test.tsx
  tests/components/SystemSettings/AccessControlTab.branches.test.tsx
  tests/services/deviceParsers/coldcardFlat.branches.test.ts
Due: backend-tests, frontend-tests

test: close next branch coverage hotspot set
  tests/components/Account.branches.test.tsx
  tests/components/ConnectDevice/DeviceDetailsForm.branches.test.tsx
  tests/components/Settings/sections/SoundSection.branches.test.tsx
  tests/hooks/websocket/useWebSocketQueryInvalidation.branches.test.tsx
Due: backend-tests, frontend-tests

feat: expose pollingMode in health endpoint and update test mocks
  server/src/api/health/serviceChecks.ts
  server/tests/unit/api/health.test.ts
Due: backend-tests, build-dev-backend

test: add branch coverage tests for next gap set
  tests/components/ConnectDevice/ConnectionMethodSelector.branches.test.tsx
  tests/components/Layout/AboutModal.branches.test.tsx
  tests/components/TransactionList/FlowPreview.branches.test.tsx
  tests/components/send/steps/review/deviceCapabilities.branches.test.ts
Due: backend-tests, frontend-tests

feat: add polling mode metric, configurable poll interval, and WARN on downgrade
  server/src/config/index.ts
  server/src/config/types.ts
  server/src/observability/metrics/businessMetrics.ts
  server/src/observability/metrics/index.ts
  server/src/services/sync/syncService.ts
  server/tests/unit/services/syncService.test.ts
Due: backend-tests, build-dev-backend

test: commit orphaned branch coverage test files
  tests/components/PendingTransfersPanel.branches.test.tsx
  tests/components/UsersGroups/EditUserModal.branches.test.tsx
  tests/components/WalletDetail/LogTab.branches.test.tsx
  tests/hooks/useDeviceSave.branches.test.tsx
Due: backend-tests, frontend-tests

test: close layout/server-form/appearance branch gaps
  tests/components/Layout/SidebarContent.branches.test.tsx
  tests/components/Layout/SubNavItem.branches.test.tsx
  tests/components/NetworkConnectionCard/ServerForm.branches.test.tsx
  tests/components/Settings/sections/ThemeSection/AppearanceTab.branches.test.tsx
Due: backend-tests, frontend-tests

test: add branch tests for account devicelist monitoring groups
  tests/components/Account/PasswordForm.branches.test.tsx
  tests/components/DeviceList/DeviceListHeader.branches.test.tsx
  tests/components/Monitoring/ServiceCard.branches.test.tsx
  tests/components/UsersGroups/EditGroupModal.branches.test.tsx
Due: backend-tests, frontend-tests

test: close websocket client branch coverage gaps
  tests/services/websocket.test.ts
Due: backend-tests, frontend-tests

test: close final coverage gaps to 100 percent
  services/hardwareWallet/adapters/bitbox/pathUtils.ts
  tests/components/AuditLogs.branches.test.tsx
  tests/components/BackupRestore.test.tsx
  tests/components/CoinControlPanel.secondpass.test.tsx
  tests/components/CreateWallet/CreateWallet.branches.test.tsx
  tests/components/Layout.branches.test.tsx
  tests/components/NetworkSyncActions.branches.test.tsx
  tests/components/NodeConfig.secondpass.test.tsx
  tests/components/UsersGroups.branches.test.tsx
  tests/contexts/AppNotificationContext.test.tsx
  tests/services/hardwareWallet.trezorAdapter.test.ts
  tests/utils/bip21Parser.test.ts
Due: backend-tests, frontend-tests

Harden coverage gates and add smoke CI lane
  .github/workflows/test.yml
  e2e/admin-drafts-smoke.spec.ts
  package.json
  scripts/test-hygiene.mjs
  vitest.config.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

test: harden assertions and unskip wallet coverage paths
  server/tests/integration/flows/admin.integration.test.ts
  server/tests/integration/worker/worker.integration.test.ts
  server/tests/unit/services/bitcoin/psbt.verified.test.ts
  server/tests/unit/websocket/server.test.ts
  tests/components/AILabelSuggestion.test.tsx
  tests/components/AISettings.logic.test.tsx
  tests/components/AISettings.test.tsx
  tests/components/Account/BackupCodesModal.test.tsx
  tests/components/AnimatedBackground.test.tsx
  tests/components/BackupRestore/EncryptionKeyDisplay.branches.test.tsx
  tests/components/CoinControlPanel.branches.test.tsx
  tests/components/ConnectDevice/FileUploadPanel.test.tsx
  tests/components/ConnectDevice/QrScannerPanel.test.tsx
  tests/components/DeviceDetail/accountTypes.test.ts
  tests/components/DeviceDetail/accounts/QrImport.test.tsx
  tests/components/DeviceDetailPage.test.tsx
  tests/components/ImportWallet.test.tsx
  tests/components/LabelManager.test.tsx
  tests/components/NetworkConnectionCard.test.tsx
  tests/components/NodeConfig.interactions.test.tsx
  tests/components/NodeConfig/ProxyTorSection.branches.test.tsx
  tests/components/Settings.interactions.test.tsx
  tests/components/Settings.test.tsx
  tests/components/Settings/sections/TelegramSection.branches.test.tsx
  tests/components/SystemSettings/WebSocketStatsCard.branches.test.tsx
  tests/components/UTXOList.branches.test.tsx
  tests/components/WalletDetail.test.tsx
  tests/components/WalletDetail/LogTab.branches.test.tsx
  tests/components/send/SigningFlow.test.tsx
  tests/docs/readme-links.test.ts
  tests/hooks/qr/urDecoder.test.ts
  tests/hooks/soundPresets.test.ts
  tests/hooks/useLoadingState.test.tsx
  tests/services/hardwareWallet.service.test.ts
  tests/services/hardwareWallet.trezorAdapter.test.ts
  tests/themes/backgroundCategories.test.ts
  tests/utils/formatters.test.ts
Due: backend-tests, frontend-tests, build-dev-backend
