Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fix: invalidate access cache for group members on group deletion
  server/src/api/admin/groups.ts
  server/tests/unit/api/admin-groups-routes.test.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/admin.test.ts
Due: backend-tests, build-dev-backend

chore: bump version to 0.8.24
  ai-proxy/package.json
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

refactor: simplify review — dedup, type completeness, and code quality
  components/NotificationToast.tsx
  server/prisma.config.ts
  server/src/services/bitcoin/advancedTx/shared.ts
  server/src/utils/validators.ts
  services/hardwareWallet/adapters/trezor/trezorAdapter.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: address migration review findings
  ai-proxy/package-lock.json
  ai-proxy/package.json
  server/src/api/auth/email.ts
  server/src/api/bitcoin/fees.ts
  server/src/api/transactions/addresses.ts
  server/src/api/transactions/broadcasting.ts
  server/src/api/transactions/coinSelection.ts
  server/src/api/transactions/drafting.ts
  server/src/api/transactions/walletTransactions/exportTransactions.ts
  server/src/api/transactions/walletTransactions/listTransactions.ts
  server/src/api/transactions/walletTransactions/pending.ts
  server/src/api/transactions/walletTransactions/recalculate.ts
  server/src/api/transactions/walletTransactions/stats.ts
  server/src/services/transferService/types.ts
  server/tests/mocks/prisma.ts
  tsconfig.json
Due: backend-tests, build-dev-backend

feat: upgrade Vite from 6 to 7
  package-lock.json
  package.json
  vite.config.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

chore: upgrade TypeScript from 5.8 to 6.0
  ai-proxy/package-lock.json
  ai-proxy/package.json
  ai-proxy/tsconfig.json
  gateway/package-lock.json
  gateway/package.json
  gateway/tsconfig.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/tsconfig.json
  utils/download.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

refactor: upgrade bip32 to v5 and extract shared singleton
  server/package-lock.json
  server/package.json
  server/src/services/bitcoin/addressDerivation/multisigDerivation.ts
  server/src/services/bitcoin/addressDerivation/singleSigDerivation.ts
  server/src/services/bitcoin/addressDerivation/utils.ts
  server/src/services/bitcoin/advancedTx/rbf.ts
  server/src/services/bitcoin/bip32.ts
  server/src/services/bitcoin/psbtBuilder/bip32Derivations.ts
  server/src/services/bitcoin/psbtBuilder/witnessScript.ts
  server/src/services/bitcoin/transactions/psbtConstruction.ts
  server/tests/unit/services/bitcoin/addressDerivation.test.ts
  server/tests/unit/services/bitcoin/bip32.verified.test.ts
  server/tests/unit/services/bitcoin/bip39.verified.test.ts
  server/tests/unit/services/bitcoin/multisigKeyOrdering.test.ts
  server/tests/unit/services/bitcoin/psbtBuilder.test.ts
Due: backend-tests, build-dev-backend

chore: upgrade bcryptjs from 2 to 3
  server/package-lock.json
  server/package.json
Due: backend-tests, build-dev-backend

chore: bump remaining minor/low-risk dependencies
  gateway/package-lock.json
  gateway/package.json
  server/package-lock.json
  server/package.json
Due: backend-tests, build-dev-backend

fix(ci): revert socks-proxy-agent to v8 for moduleResolution compat
  server/Dockerfile
  server/package.json
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

fix(ci): sync server lock file for socks-proxy-agent v8 downgrade
  server/package-lock.json
Due: backend-tests, build-dev-backend

fix(ci): migrate integration test setup to Prisma 7 adapter pattern
  server/tests/integration/repositories/setup.ts
  server/tests/integration/setup/testDatabase.ts
Due: backend-tests, build-dev-backend

fix(ci): include prisma.config.ts in builder and runner Docker stages
  server/Dockerfile
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-backend

fix(ci): use compiled seed.js in prisma.config for production Docker
  server/prisma.config.ts
Due: build-dev-backend

fix(ci): correct seed.js path in prisma.config (dist/prisma/prisma/seed.js)
  server/prisma.config.ts
Due: build-dev-backend

fix(e2e): use .first() for import validation error selector that matches 2 elements
  e2e/import-wallet-flow.spec.ts
Due: none

fix: prevent sync thundering herd with stagger delay and pool tuning
  server/src/config/index.ts
  server/src/config/schema.ts
  server/src/config/types.ts
  server/src/services/bitcoin/electrumPool/electrumPool.ts
  server/src/services/bitcoin/electrumPool/poolRegistry.ts
  server/src/services/bitcoin/electrumPool/types.ts
  server/src/worker.ts
  server/tests/unit/config/schema.test.ts
  server/tests/unit/services/bitcoin/electrumPool.test.ts
  server/tests/unit/services/syncService.test.ts
  server/tests/unit/worker/jobs/syncJobs.test.ts
Due: backend-tests, build-dev-backend

fix: resolve schema drift and add stagger delay test coverage
  server/src/config/schema.ts
  server/tests/unit/config/schema.test.ts
  server/tests/unit/worker/worker.entry.test.ts
Due: backend-tests, build-dev-backend

chore: standardize project on Node 22
  .github/workflows/test.yml
  .github/workflows/verify-vectors.yml
  .node-version
  .nvmrc
  Dockerfile
  ai-proxy/Dockerfile
  ai-proxy/package.json
  docker-compose.test.yml
  gateway/Dockerfile
  gateway/package-lock.json
  gateway/package.json
  package.json
  server/Dockerfile
  server/package.json
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

ci: harden quick backend and e2e jobs
  .github/workflows/test.yml
Due: none

refactor(server): remove socks-proxy-agent shim
  server/src/api/admin/proxyTest.ts
  server/src/types/socks-proxy-agent.d.ts
Due: backend-tests, build-dev-backend

gateway: prune optional deps in production image
  docs/DEPENDENCY_AUDIT_TRIAGE.md
  gateway/Dockerfile
Due: none

fix(server): restore 2FA clock drift tolerance lost in otplib v13 migration
  server/src/services/twoFactorService.ts
  server/tests/unit/services/twoFactorService.test.ts
Due: backend-tests, build-dev-backend

fix(server): restore legacy 2FA verification compatibility
  ai-proxy/package-lock.json
  ai-proxy/package.json
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/docker-compose.yml
  sanctuary/umbrel-app.yml
  scripts/bump-version.sh
  server/package-lock.json
  server/package.json
  server/src/services/twoFactorService.ts
  server/tests/unit/services/twoFactorService.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

feat: add transaction filter bar and improve tab contrast in dark mode
  components/WalletDetail/TabBar.tsx
  components/WalletDetail/WalletDetail.tsx
  components/WalletDetail/hooks/index.ts
  components/WalletDetail/hooks/useTransactionFilters.ts
  components/WalletDetail/tabs/TransactionFilterBar.tsx
  components/WalletDetail/tabs/TransactionsTab.tsx
  server/tests/unit/config/schema.test.ts
  tests/components/WalletDetail/hooks/useTransactionFilters.test.ts
  tests/components/WalletDetail/tabs/TransactionFilterBar.test.tsx
  tests/components/WalletDetail/tabs/TransactionsTab.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: correct dark mode chip color and add missing TransactionsTab tests
  components/WalletDetail/tabs/TransactionFilterBar.tsx
  tests/components/WalletDetail/tabs/TransactionsTab.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

chore: bump version to 0.8.29
  ai-proxy/package.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix(server): resolve bullmq ConnectionOptions type errors in workerSyncQueue
  server/src/services/workerSyncQueue.ts
Due: backend-tests, build-dev-backend

fix: achieve coverage thresholds for CI
  server/vitest.config.ts
  tests/components/WalletDetail/tabs/TransactionsTab.test.tsx
Due: backend-tests, frontend-tests, build-dev-backend

docs: refresh README and install docs
  README.md
  README.template.md
  install.sh
Due: install-unit-tests, fresh-install-test, install-script-test

fix(gateway): add dumb-init to prevent zombie process accumulation
  gateway/Dockerfile
Due: none

feat(support-bundle): add container diagnostics collector
  server/src/services/supportPackage/collectors/container.ts
  server/src/services/supportPackage/collectors/index.ts
  server/tests/unit/services/supportPackage/containerCollector.test.ts
Due: backend-tests, build-dev-backend

test: cover uncovered branches in label components
  tests/components/LabelManager.test.tsx
  tests/components/LabelSelector.test.tsx
  tests/components/TransactionList/LabelEditor.test.tsx
Due: backend-tests, frontend-tests

fix(sync): prevent syncInProgress flag from getting permanently stuck
  server/src/worker/jobs/syncJobs.ts
  server/tests/unit/worker/jobs/syncJobs.test.ts
Due: backend-tests, build-dev-backend

chore: bump version to 0.8.31
  ai-proxy/package.json
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
