Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

refactor: clean artifacts, migrate models/prisma imports, split electrumPool
  server/src/repositories/addressRepository.ts
  server/src/repositories/deviceRepository.ts
  server/src/repositories/nodeConfigRepository.ts
  server/src/repositories/transactionRepository.ts
  server/src/repositories/utxoRepository.ts
  server/src/repositories/walletRepository.ts
  server/src/services/bitcoin/electrumPool/electrumPool.ts
  server/src/services/bitcoin/electrumPool/metricsExporter.ts
  server/src/services/bitcoin/electrumPool/subscriptionConnection.ts
  server/src/services/bitcoin/nodeClient.ts
  server/src/services/sync/confirmationUpdater.ts
  server/src/services/sync/staleWalletChecker.ts
  server/src/services/sync/subscriptionManager.ts
  server/src/services/sync/syncService.ts
  server/src/services/sync/walletSync.ts
  server/src/services/utxoSelectionService/queries.ts
  server/src/services/wallet/addressGeneration.ts
  server/src/services/wallet/walletCreate.ts
  server/src/services/wallet/walletDevices.ts
  server/src/services/wallet/walletMutations.ts
  server/src/services/wallet/walletQueries.ts
  server/src/services/walletImport/deviceResolution.ts
  server/src/websocket/notifications/subscriptions.ts
  server/src/worker/electrumManager/addressSubscriptions.ts
  server/src/worker/electrumManager/healthMonitoring.ts
  server/src/worker/jobs/notificationJobs.ts
  server/src/worker/jobs/syncJobs.ts
  server/tests/unit/services/bitcoin/nodeClient.test.ts
  server/tests/unit/services/sync/staleWalletChecker.test.ts
  server/tests/unit/services/syncService.test.ts
  server/tests/unit/services/wallet.test.ts
  server/tests/unit/websocket/notifications.test.ts
  server/tests/unit/worker/electrumManager.test.ts
  server/tests/unit/worker/jobs/notificationJobs.test.ts
Due: backend-tests, build-dev-backend

refactor: extract shared pagination utility from API routes
  server/src/api/transactions/addresses.ts
  server/src/api/transactions/utxos.ts
  server/src/utils/pagination.ts
Due: backend-tests, build-dev-backend

refactor: clean Prisma imports in vault policy services
  server/src/services/vaultPolicy/approvalService.ts
  server/src/services/vaultPolicy/vaultPolicyService.ts
Due: backend-tests, build-dev-backend

refactor: migrate transfer initiate, wallet create, and wallet devices off direct Prisma
  server/src/repositories/transferRepository.ts
  server/src/repositories/walletRepository.ts
  server/src/services/transferService/initiate.ts
  server/src/services/wallet/walletCreate.ts
  server/src/services/wallet/walletDevices.ts
  server/tests/unit/repositories/walletRepository.test.ts
  server/tests/unit/services/wallet.test.ts
Due: backend-tests, build-dev-backend

refactor: move withTransaction to models/prisma, consolidate isUniqueConstraintError
  server/src/models/prisma.ts
  server/src/repositories/walletRepository.ts
  server/src/services/bitcoin/transactions/helpers.ts
  server/src/services/bitcoin/transactions/persistTransaction.ts
  server/src/services/draftLockService.ts
  server/src/services/walletImport/walletImportService.ts
  server/src/utils/errors.ts
  server/tests/unit/services/bitcoin/transactionService.test.ts
  server/tests/unit/services/walletImport.test.ts
Due: backend-tests, build-dev-backend

refactor: reduce useState sprawl in useWalletData with usePaginatedList hook
  components/WalletDetail/hooks/useWalletData.ts
  hooks/usePaginatedList.ts
Due: backend-tests, frontend-tests, build-dev-frontend

refactor: split transactionService and electrumPool test files
  server/tests/unit/services/bitcoin/electrumPool.backoff.test.ts
  server/tests/unit/services/bitcoin/electrumPool.connections.test.ts
  server/tests/unit/services/bitcoin/electrumPool.test.ts
  server/tests/unit/services/bitcoin/transactionService.batch.test.ts
  server/tests/unit/services/bitcoin/transactionService.broadcast.test.ts
  server/tests/unit/services/bitcoin/transactionService.create.test.ts
  server/tests/unit/services/bitcoin/transactionService.test.ts
Due: backend-tests, build-dev-backend

test: add unit tests for uncovered repository functions to meet 99% threshold
  server/tests/unit/models/prisma.test.ts
  server/tests/unit/repositories/addressRepository.test.ts
  server/tests/unit/repositories/deviceRepository.test.ts
  server/tests/unit/repositories/draftRepository.test.ts
  server/tests/unit/repositories/maintenanceRepository.test.ts
  server/tests/unit/repositories/transactionRepository.test.ts
  server/tests/unit/repositories/userRepository.test.ts
  server/tests/unit/repositories/utxoRepository.test.ts
  server/tests/unit/repositories/walletRepository.test.ts
Due: backend-tests, build-dev-backend

test: add frontend tests to meet 100% coverage threshold
  tests/components/Dashboard/BitcoinPriceCard.test.tsx
  tests/components/Dashboard/FeeEstimationCard.test.tsx
  tests/components/Dashboard/UpdateBanner.test.tsx
  tests/components/WalletDetail/hooks/useWalletData.test.ts
  tests/hooks/usePaginatedList.test.ts
Due: backend-tests, frontend-tests

chore: bump version to 0.8.32
  ai-proxy/package.json
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: resolve flaky Layout test teardown race condition
  tests/components/Layout.test.tsx
Due: backend-tests, frontend-tests

fix: disable gzip in container health JS bundle size check
  tests/install/e2e/container-health.test.sh
Due: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test

fix: mount alert rules into Prometheus, fix stale metric names, add worker metrics
  docker-compose.monitoring.yml
  docker/monitoring/alert_rules.yml
  docker/monitoring/grafana/dashboards/sanctuary-worker.json
  docker/monitoring/prometheus.yml
  server/src/worker.ts
  server/src/worker/healthServer.ts
  server/src/worker/workerJobQueue/eventHandlers.ts
  server/tests/integration/setup/workerHarness.ts
  server/tests/unit/worker/worker.entry.test.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

fix: only auto-regenerate self-signed SSL certs, warn for CA-signed
  start.sh
Due: none

fix: strip issuer=/subject= prefixes so self-signed detection works
  start.sh
Due: none

Remove completed extensibility plan
  docs/plans/frontend-extensibility-plan.md
Due: none

Ignore local Codex state
  .gitignore
Due: none

Add lifecycle dependency graph
  docs/plans/extensibility-architecture-plan.md
  server/ARCHITECTURE.md
  server/src/services/DEPENDENCIES.md
  server/src/services/serviceLifecycleGraph.ts
  server/src/services/serviceRegistry.ts
  server/src/services/startupManager.ts
  server/tests/unit/services/serviceLifecycleGraph.test.ts
  server/tests/unit/services/serviceRegistry.test.ts
  server/tests/unit/services/startupManager.test.ts
Due: backend-tests, build-dev-backend

Extract priority registry helper
  docs/plans/extensibility-architecture-plan.md
  server/src/services/import/registry.ts
  services/deviceParsers/registry.ts
  shared/utils/priorityRegistry.ts
  tests/shared/priorityRegistry.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Fix frontend coverage gate
  App.tsx
  tests/components/WalletDetail.wrapper.test.tsx
  tests/components/WalletDetail/TabBar.test.tsx
  tests/components/WalletDetail/tabDefinitions.test.ts
  tests/themes/backgroundCategories.test.ts
Due: backend-tests, frontend-tests

Harden phase 0 health findings
  components/AISettings/AISettings.tsx
  components/AISettings/components/EnableModal.tsx
  components/AISettings/hooks/useContainerLifecycle.ts
  components/AISettings/types.ts
  components/ui/EmptyState.tsx
  docs/plans/codebase-health-assessment.md
  gateway/src/config.ts
  gateway/src/middleware/mobilePermission.ts
  gateway/src/middleware/requestLogger.ts
  gateway/src/services/backendEvents/auth.ts
  gateway/src/services/backendEvents/deviceTokens.ts
  gateway/tests/unit/middleware/requestLogger.test.ts
  gateway/tests/unit/services/backendEvents.deviceTokens.test.ts
  hooks/queries/factory.ts
  server/src/api/push.ts
  server/src/index.ts
  server/src/middleware/bodyParsing.ts
  server/src/middleware/gatewayAuth.ts
  server/src/websocket/auth.ts
  server/tests/integration/websocket/websocket.integration.test.ts
  server/tests/unit/middleware/bodyParsing.test.ts
  server/tests/unit/middleware/gatewayAuth.test.ts
  server/tests/unit/shared/gatewayAuth.test.ts
  server/tests/unit/websocket/auth.test.ts
  server/tests/unit/websocket/clientServerLimits.test.ts
  server/tests/unit/websocket/server.test.ts
  shared/utils/gatewayAuth.ts
  tests/components/AISettings.logic.test.tsx
  tests/components/AISettings.test.tsx
  tests/components/AISettings/hooks/useContainerLifecycle.test.ts
  tests/components/AISettingsSubcomponents.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Harden gateway validation contracts
  docs/plans/codebase-health-assessment.md
  gateway/src/middleware/validateRequest.ts
  gateway/tests/unit/middleware/validateRequest.test.ts
Due: backend-tests

Add operations runbook baseline
  docker-compose.monitoring.yml
  docs/OPERATIONS_RUNBOOKS.md
  docs/plans/codebase-health-assessment.md
  server/tests/unit/api/push.test.ts
Due: backend-tests, build-dev-backend

Track phase 3 carryover before phase 4
  docs/plans/codebase-health-assessment.md
Due: none

Add gateway log redaction
  docs/plans/codebase-health-assessment.md
  gateway/src/utils/logger.ts
  gateway/tests/unit/utils/logger.test.ts
  shared/utils/redact.ts
  tests/shared/redact.test.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Support private phase 3 benchmark targets
  docs/SCALABILITY_AND_PERFORMANCE.md
  docs/plans/codebase-health-assessment.md
  docs/plans/phase3-benchmark-2026-04-12T05-12-14-935Z.json
  docs/plans/phase3-benchmark-2026-04-12T05-12-14-935Z.md
  scripts/perf/phase3-benchmark.mjs
Due: none

Derive mobile permission schema from actions
  shared/schemas/mobileApiRequests.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Adopt shared transaction request schemas
  docs/plans/codebase-health-assessment.md
  server/src/api/transactions/broadcasting.ts
  server/src/api/transactions/drafting.ts
  server/src/api/transactions/requestValidation.ts
  server/tests/unit/api/transactions-http-routes.test.ts
  server/tests/unit/api/transactions-request-validation.test.ts
  shared/schemas/mobileApiRequests.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Document Payjoin OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/payjoin.ts
  server/src/api/openapi/schemas/payjoin.ts
  server/src/api/openapi/spec.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document intelligence OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/intelligence.ts
  server/src/api/openapi/schemas/intelligence.ts
  server/src/api/openapi/spec.ts
  server/src/services/intelligence/types.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document wallet helper OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/transactions.ts
  server/src/api/openapi/paths/walletHelpers.ts
  server/src/api/openapi/schemas/wallet.ts
  server/src/api/openapi/spec.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document wallet export OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/walletExport.ts
  server/src/api/openapi/schemas/wallet.ts
  server/src/api/openapi/spec.ts
  server/src/services/export/types.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document wallet settings OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/walletSettings.ts
  server/src/api/openapi/schemas/wallet.ts
  server/src/api/openapi/spec.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document wallet policy OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/walletPolicies.ts
  server/src/api/openapi/schemas/wallet.ts
  server/src/api/openapi/spec.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document admin audit log OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/admin.ts
  server/src/api/openapi/schemas/admin.ts
  server/src/repositories/auditLogRepository.ts
  server/src/services/auditService.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/openapi.test.ts
  server/tests/unit/repositories/auditLogRepository.test.ts
  server/tests/unit/services/auditService.test.ts
Due: backend-tests, build-dev-backend

Document admin user OpenAPI routes
  components/UsersGroups/CreateUserModal.tsx
  components/UsersGroups/UsersGroups.tsx
  docs/plans/codebase-health-assessment.md
  server/src/api/admin/users.ts
  server/src/api/openapi/paths/admin.ts
  server/src/api/openapi/schemas/admin.ts
  server/src/api/schemas/admin.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/openapi.test.ts
  src/api/admin/types.ts
  tests/components/UsersGroups.branches.test.tsx
  tests/components/UsersGroups.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Document admin group OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/admin/groupRoles.ts
  server/src/api/admin/groups.ts
  server/src/api/openapi/paths/admin.ts
  server/src/api/openapi/schemas/admin.ts
  server/src/api/schemas/admin.ts
  server/tests/unit/api/admin-groupRoles.test.ts
  server/tests/unit/api/admin-groups-routes.test.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document admin policy OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/admin.ts
  server/src/api/openapi/schemas/admin.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Document admin backup OpenAPI routes
  docs/plans/codebase-health-assessment.md
  server/src/api/openapi/paths/admin.ts
  server/src/api/openapi/schemas/admin.ts
  server/tests/unit/api/openapi.test.ts
Due: backend-tests, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
