Repository nekoguntai/sanctuary: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-tests, frontend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

backend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  services:
  - name: postgres:16-alpine
    alias: postgres
    variables:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: sanctuary_test
  variables:
    DATABASE_URL: postgresql://test:test@postgres:5432/sanctuary_test?schema=public
  ...

frontend-tests:
  stage: test
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci
  script:
  - npm run test:run -- --coverage
  artifacts:
    when: always
    paths:
    - coverage/
    expire_in: 14 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
  cache:
  ...

install-unit-tests:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  - ./tests/install/unit/install-script.test.sh

fresh-install-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh
  ...

install-script-test:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: install-test
  timeout: 30 minutes
  script:
  - chmod +x tests/install/unit/*.sh tests/install/e2e/*.sh tests/install/utils/*.sh install.sh
  ...

build-dev-frontend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build-dev-backend:
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - apk add --no-cache bash curl git jq openssl
  - docker info
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

Refactor routing and enforce Redis-only services
  server/src/api/ai.ts
  server/src/api/auth.ts
  server/src/api/auth/email.ts
  server/src/api/health.ts
  server/src/api/mobilePermissions.ts
  server/src/api/payjoin.ts
  server/src/config/index.ts
  server/src/config/schema.ts
  server/src/config/types.ts
  server/src/index.ts
  server/src/infrastructure/redis.ts
  server/src/jobs/jobQueue.ts
  server/src/middleware/rateLimit.ts
  server/src/routes.ts
  server/src/services/cacheInvalidation.ts
  server/src/services/rateLimiting/policies.ts
  server/src/services/rateLimiting/rateLimitService.ts
  server/src/services/serviceRegistry.ts
  server/src/services/startupManager.ts
  server/tests/unit/api/ai.test.ts
  server/tests/unit/api/payjoin.test.ts
Due: backend-tests, build-dev-backend

Fix mobile permissions route tests after registry refactor
  server/tests/unit/api/health.test.ts
  server/tests/unit/api/mobilePermissions.test.ts
Due: backend-tests, build-dev-backend

Ignore generated Claude and Stryker artifacts
  .gitignore
Due: none

Fix useWalletLogs test by mocking sync API
  tests/hooks/useWebSocket.test.tsx
Due: backend-tests, frontend-tests

Fix backend test failures by adding missing mocks
  server/tests/unit/api/auth.test.ts
  server/tests/unit/api/health.test.ts
Due: backend-tests, build-dev-backend

Add global rate limiting mock to test setup
  server/tests/setup.ts
  server/tests/unit/middleware/rateLimit.test.ts
Due: backend-tests, build-dev-backend

Add Redis service to E2E tests in CI workflow
  .github/workflows/test.yml
Due: none

Add address pagination summary UI and API
  components/WalletDetail.tsx
  server/API.md
  server/src/api/transactions/addresses.ts
  server/tests/integration/flows/transactions.integration.test.ts
  server/tests/unit/api/addresses.test.ts
  src/api/transactions.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Paginate UTXOs, bucket balance history, and dedupe schedules
  components/UTXOList.tsx
  components/WalletDetail.tsx
  hooks/queries/useWallets.ts
  server/src/api/transactions/crossWallet.ts
  server/src/api/transactions/utxos.ts
  server/src/index.ts
  server/src/jobs/jobQueue.ts
  server/src/jobs/types.ts
  server/src/worker/workerJobQueue.ts
  src/api/transactions.ts
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add unpaged soft caps and document pagination policy
  docs/plans/technical-debt-plan.md
  server/src/api/transactions/addresses.ts
  server/src/api/transactions/utxos.ts
Due: backend-tests, build-dev-backend

Document current pagination cap state
  docs/plans/technical-debt-plan.md
Due: none

Move maintenance to worker and guard Electrum subscriptions
  README.template.md
  server/README.md
  server/src/api/health.ts
  server/src/config/index.ts
  server/src/config/schema.ts
  server/src/config/types.ts
  server/src/index.ts
  server/src/jobs/jobQueue.ts
  server/src/services/syncService.ts
  server/src/worker.ts
  server/src/worker/electrumManager.ts
  server/src/worker/jobs/index.ts
  server/src/worker/jobs/maintenanceJobs.ts
  server/src/worker/jobs/types.ts
  server/src/worker/workerJobQueue.ts
  server/tests/unit/api/health.test.ts
  server/tests/unit/services/syncService.test.ts
Due: backend-tests, build-dev-backend

Fix TypeScript errors in maintenanceJobs handler types
  server/src/worker/jobs/maintenanceJobs.ts
Due: backend-tests, build-dev-backend

Fix flaky UserContext theme test timing issue
  tests/contexts/UserContext.test.tsx
Due: backend-tests, frontend-tests

Add technical debt cleanup plan and maintenance guidelines
  CLAUDE.md
  docs/TECHNICAL_DEBT_CLEANUP_PLAN.md
Due: none

Implement technical debt cleanup plan
  components/DeviceDetail.tsx
  components/DeviceDetail/AccountList.tsx
  components/DeviceDetail/ManualAccountForm.tsx
  components/DeviceDetail/accountTypes.ts
  components/DeviceDetail/index.ts
  components/WalletDetail.tsx
  components/WalletDetail/modals/AddressQRModal.tsx
  components/WalletDetail/modals/DeleteModal.tsx
  components/WalletDetail/modals/ExportModal.tsx
  components/WalletDetail/modals/ReceiveModal.tsx
  components/WalletDetail/modals/index.ts
  components/qr/AnimatedQRCode.tsx
  components/send/steps/OutputsStep.tsx
  components/send/steps/ReviewStep.tsx
  docs/archive/DEBUG-multisig-broadcast-failure.md
  docs/archive/LIGHTNING_INTEGRATION_OPTIONS.md
  docs/archive/PLAN-test-coverage-gaps.md
  docs/archive/TAPROOT_ASSETS_PLAN.md
  docs/archive/TECHNICAL_DEBT.md
  docs/archive/TEST_COVERAGE_ANALYSIS.md
  docs/archive/TEST_COVERAGE_DEEP_ANALYSIS.md
  docs/archive/TEST_COVERAGE_PLAN.md
  docs/archive/architecture-improvement-plan.md
  docs/archive/install-scripts-improvements.md
  docs/archive/ios-backend-enhancements.md
  docs/archive/network-based-wallet-views.md
  hooks/useSendTransactionActions.ts
  hooks/useWebSocket.ts
  server/src/infrastructure/redis.ts
  server/src/services/auditService.ts
  server/src/services/backupService.ts
  server/src/services/bitcoin/electrumPool.ts
  server/src/services/bitcoin/providers/index.ts
  services/bbqr.ts
  tsconfig.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

Add comprehensive test coverage for hooks and components
  docs/TEST_GAPS_PLAN.md
  tests/components/DeviceDetail/AccountList.test.tsx
  tests/components/DeviceDetail/ManualAccountForm.test.tsx
  tests/components/DeviceDetail/accountTypes.test.ts
  tests/components/WalletDetail/modals/AddressQRModal.test.tsx
  tests/components/WalletDetail/modals/DeleteModal.test.tsx
  tests/components/WalletDetail/modals/ExportModal.test.tsx
  tests/components/WalletDetail/modals/ReceiveModal.test.tsx
  tests/hooks/useDeviceConnection.test.tsx
  tests/hooks/useDeviceModels.test.tsx
  tests/hooks/useDeviceSave.test.tsx
  tests/hooks/useLoadingState.test.tsx
  tests/hooks/useQrScanner.test.tsx
Due: backend-tests, frontend-tests

Fix circular import in DeviceDetail.tsx
  components/DeviceDetail.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Fix health check not marking servers unhealthy when all connections lost
  server/src/services/bitcoin/electrumPool.ts
Due: backend-tests, build-dev-backend

Improve NodeConfig a11y and proxy allowlist
  components/NodeConfig.tsx
  components/cells/DeviceCells.tsx
  gateway/src/routes/proxy.ts
Due: backend-tests, frontend-tests, build-dev-frontend

Add frontend and backend test coverage
  server/tests/unit/api/schemas/common.test.ts
  server/tests/unit/api/schemas/labels.test.ts
  server/tests/unit/api/schemas/middleware.test.ts
  server/tests/unit/api/schemas/push.test.ts
  server/tests/unit/api/schemas/wallet.test.ts
  server/tests/unit/jobs/maintenanceJobs.test.ts
  server/tests/unit/services/maintenanceService.test.ts
  server/tests/unit/worker/healthServer.test.ts
  tests/components/AnimatedBackground.test.ts
  tests/components/BlockVisualizer.test.tsx
  tests/components/DeviceDetailPage.test.tsx
  tests/components/NotificationToast.test.tsx
  tests/components/TransactionFlowPreview.test.tsx
  tests/components/TransactionList.test.tsx
  tests/components/cells/DeviceCells.test.tsx
  tests/components/cells/WalletCells.test.tsx
  tests/components/qr/QRSigningModal.test.tsx
  tests/components/ui/ConfigurableTable.test.tsx
  tests/components/ui/DraggableColumnItem.test.tsx
  tests/hooks/queries/useWallets.test.tsx
  tests/hooks/useNotificationSound.test.tsx
  tests/hooks/useSendTransactionActions.test.tsx
  tests/utils/urPsbt.test.ts
Due: backend-tests, frontend-tests, build-dev-backend

Fix simple mempool block estimation constant
  server/src/services/bitcoin/mempool.ts
Due: backend-tests, build-dev-backend

test: expand backend coverage and avoid supertest binds
  server/tests/integration/setup/websocketHarness.ts
  server/tests/integration/setup/workerHarness.ts
  server/tests/integration/websocket/websocket.integration.test.ts
  server/tests/integration/worker/worker.integration.test.ts
  server/tests/unit/api/admin-routes.test.ts
  server/tests/unit/api/admin.test.ts
  server/tests/unit/api/ai.test.ts
  server/tests/unit/api/bitcoin.test.ts
  server/tests/unit/api/node.test.ts
  server/tests/unit/api/openapi.test.ts
  server/tests/unit/api/push.test.ts
  server/tests/unit/api/schemas/common.test.ts
  server/tests/unit/api/schemas/labels.test.ts
  server/tests/unit/api/schemas/middleware.test.ts
  server/tests/unit/api/schemas/push.test.ts
  server/tests/unit/api/schemas/wallet.test.ts
  server/tests/unit/api/transfers.test.ts
  server/tests/unit/api/wallets.test.ts
  server/tests/unit/jobs/jobQueue.test.ts
  server/tests/unit/jobs/maintenanceJobs.test.ts
  server/tests/unit/services/bitcoin/mempool.test.ts
  server/tests/unit/services/bitcoin/providers/electrumProvider.test.ts
  server/tests/unit/services/blockchainService.test.ts
  server/tests/unit/services/cache/redisCache.test.ts
  server/tests/unit/websocket/clientServerLimits.test.ts
  server/tests/unit/worker/electrumManager.test.ts
  server/tests/unit/worker/healthServer.test.ts
Due: backend-tests, build-dev-backend

fix: resolve CI test failures in AnimatedBackground, urPsbt, and TransactionFlowPreview
  tests/components/AnimatedBackground.test.tsx
  tests/components/NotificationToast.test.tsx
  tests/components/TransactionFlowPreview.test.tsx
  tests/utils/urPsbt.test.ts
Due: backend-tests, frontend-tests

fix: implement QR scanner for send transaction address input
  components/send/OutputRow.tsx
  tests/components/send/OutputRow.test.tsx
Due: backend-tests, frontend-tests, build-dev-frontend

Bump version to 0.8.8
  gateway/package-lock.json
  gateway/package.json
  package-lock.json
  package.json
  sanctuary/umbrel-app.yml
  server/package-lock.json
  server/package.json
Due: backend-tests, frontend-tests, build-dev-frontend, build-dev-backend

fix: prevent set -e from exiting early during prerequisite checks
  scripts/setup.sh
Due: none

fix: prevent set -e exit when optional features already set
  scripts/setup.sh
Due: none

fix: use correct rate limit env var names in auth flow test
  .github/workflows/install-test.yml
Due: none

fix: correct rate limit env var names in docker-compose
  docker-compose.yml
Due: install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

Fix worker health degradation handling and sync startup queue drain
  server/src/api/health.ts
  server/src/services/syncService.ts
  server/src/services/workerHealth.ts
  server/tests/unit/api/health.test.ts
  server/tests/unit/services/syncService.test.ts
  server/tests/unit/services/workerHealth.test.ts
Due: backend-tests, build-dev-backend

test: add P0/P1 test coverage for financial algorithms and frontend API
  server/tests/unit/api/health.test.ts
  server/tests/unit/services/bitcoin/estimation.test.ts
  server/tests/unit/services/bitcoin/psbtBuilder.test.ts
  server/tests/unit/services/bitcoin/utxoSelection.test.ts
  tests/api/auth.test.ts
  tests/api/client.test.ts
  tests/api/transactions.test.ts
  tests/services/websocket.test.ts
Due: backend-tests, frontend-tests, build-dev-backend

fix: add missing ecpair dev dependency and fix Uint8Array compatibility in psbtBuilder tests
  server/package-lock.json
  server/package.json
  server/tests/unit/services/bitcoin/psbtBuilder.test.ts
Due: backend-tests, build-dev-backend

Fix worker health build errors and stabilize server tests
  server/.env.example
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/config/index.ts
  server/src/config/schema.ts
  server/src/config/types.ts
  server/src/services/workerHealth.ts
  server/tests/unit/services/bitcoin/sync/pipeline.test.ts
  server/tests/unit/services/cache/warmCaches.test.ts
  server/tests/unit/services/workerHealth.test.ts
Due: backend-tests, build-dev-backend

fix sync lock races and add long-running lock integration test
  server/src/services/syncService.ts
  server/src/worker/jobs/syncJobs.ts
  server/src/worker/workerJobQueue.ts
  server/tests/integration/worker/workerJobQueueLock.integration.test.ts
  server/tests/unit/worker/workerJobQueue.test.ts
Due: backend-tests, build-dev-backend

chore(deploy): wire worker-owned stack health and dependencies
  .env.example
  README.template.md
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.yml
  sanctuary/README.md
  sanctuary/docker-compose.yml
  sanctuary/exports.sh
  scripts/setup.sh
  server/src/index.ts
  server/src/routes.ts
Due: backend-tests, install-unit-tests, fresh-install-test, install-script-test, build-dev-frontend, build-dev-backend

fix(tx): make broadcast persistence idempotent and transactional
  server/src/services/bitcoin/transactionService.ts
  server/tests/unit/services/bitcoin/transactionService.test.ts
Due: backend-tests, build-dev-backend

Path conditions:
  backend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, server/src/**/*, server/tests/**/*, gateway/src/**/*, package*.json, server/package*.json, vitest.config.ts, server/jest.config.js, .gitlab-ci.yml
  frontend-tests: any of: src/**/*, components/**/*, hooks/**/*, utils/**/*, shared/**/*, tests/**/*, package*.json, vitest.config.ts, .gitlab-ci.yml
  install-unit-tests: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  fresh-install-test: (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*, .gitlab-ci.yml) or (any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*)
  install-script-test: any of: install.sh, docker-compose.yml, Dockerfile, server/Dockerfile, server/prisma/**/*, docker/**/*, tests/install/**/*
  build-dev-frontend: any of: components/**/*, src/**/*, utils/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
  build-dev-backend: any of: server/**/*, shared/**/*, docker/**/*, Dockerfile, docker-compose.yml, package*.json, .gitlab-ci.yml
